{% extends 'MelodycodeFossdroidBundle::base.html.twig' %}



{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <link rel="stylesheet" href="{{ asset('OwlCarousel2-2.3.4/dist/assets/owl.theme.default.css') }}" >

    <link rel="stylesheet" href="{{ asset('OwlCarousel2-2.3.4/dist/assets/owl.carousel.css') }}" >
    <link rel="stylesheet" href="{{ asset('css/BundleIndex.css') }}">

    <!--  jQuery 1.7+  -->
    <script src="{{ asset('OwlCarousel2-2.3.4/dist/owl.carousel.js') }}"></script>

    <script>



        document.onreadystatechange = function () {
            var state = document.readyState
            if (state == 'interactive') {


                document.getElementById('mdl-grid').style.display="none";
            } else if (state == 'complete') {
                setTimeout(function(){
                    document.getElementById('interactive');
                    $("div#mdl-grid").removeClass("hidden");
                    document.getElementById('mdl-grid').style.display="block";
                    document.getElementById('load').style.display="none";
                },2000);
            }
        }

    </script>
    <script>

        $(document).ready(function() {
            $("#bundle").owlCarousel({


                items : 6, // THIS IS IMPORTANT
                responsive : {
                    0:{items:1},
                    362:{items:2},
                    564 : { items : 3  }, // from zero to 480 screen width 4 items
                    768 : { items : 4 }, // from 480 screen widthto 768 6 items
                    1024 : { items : 6   // from 768 screen width to 1024 8 items
                    }
                },
            });


            // Custom Navigation Events


        });
    </script>
    <style>


    </style>
{% endblock %}

{% block body %}

    <div class="lds-spinner" id="load"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

<div class="mdl-grid" id="mdl-grid">

    <div class="clus">
        <div class="cluster-heading" style="width: 1088px;">
            <h2 class="single-title-link">
                <a class="title-link id-track-click"
                   data-uitype="291"
                   href="">
                 </a></h2></div>

        <div id="bundle" class="owl-carousel ">


            {% for application in applications %}

                    {{ include("MelodycodeFossdroidBundle:Partial:_application_box.html.twig") }}
            {% endfor %}
        </div>

    </div>




</div>
{% endblock %}

