{% extends 'MelodycodeFossdroidBundle::base.html.twig' %}

{% block title %}"{{ bundle.Name }}" - Sensory Apps{% endblock %}

{% block breadcrumb %}
    <a href="{{ path('bundle', {'slug': bundle.ID}) }}">{{ bundle.Name }}</a>
{% endblock %}

{#
{% block nav_categories %}
    {{ render(controller("MelodycodeFossdroidBundle:Widget:categories", { 'slug_selected': category.slug })) }}
{% endblock %}
#}
{% block body %}
    <div class="mdl-grid">
       
        <div class="mdl-cell mdl-cell--12-col">
            <h4 style="    text-align: center;
    font-size: 33px;
    line-height: 32px;
    -moz-osx-font-smoothing: grayscale;
    margin: 24px 0 16px;
    font-family: serif;
    font-style: italic;">
                {{ bundle.Description }}
            </h4>
        </div>
    

        {% for application in applications %}
            {{ include("MelodycodeFossdroidBundle:Partial:_application_box.html.twig") }}
        {% endfor %}
    </div>
{% endblock %}