<!DOCTYPE html>
<script>

    $(document).ready(function() {

        var owl = $("#owl-demo");
        var owl1 = $("#owl-demo1");
        var owl2 = $("#owl-demo2");
        owl1.owlCarousel({

            navigation: true, // Show next and prev buttons
            slideSpeed: 1000,
            paginationSpeed: 1000,
            singleItem: true,
            autoPlay: 5000,
            responsive : {
                480 : { items : 1  }, // from zero to 480 screen width 4 items
                768 : { items : 5  }, // from 480 screen widthto 768 6 items
                1024 : { items : 7   // from 768 screen width to 1024 8 items
                }
            },
        });
        owl.owlCarousel({

            autoPlay: 3000,
            items : 6, // THIS IS IMPORTANT
            responsive : {
                480 : { items : 1  }, // from zero to 480 screen width 4 items
                768 : { items : 5  }, // from 480 screen widthto 768 6 items
                1024 : { items : 7   // from 768 screen width to 1024 8 items
                }
            },
        });

        owl2.owlCarousel({

            autoPlay: 3000,
            items : 1, // THIS IS IMPORTANT
            responsive : {
                480 : { items : 1  }, // from zero to 480 screen width 4 items
                768 : { items : 5 }, // from 480 screen widthto 768 6 items
                1024 : { items : 7   // from 768 screen width to 1024 8 items
                }
            },
        });
        // Custom Navigation Events


    });
</script>
<link rel="stylesheet" href="{{ asset('OwlCarousel2-2.3.4/dist/assets/owl.carousel.css') }}" >
<link rel="stylesheet" href="{{ asset('OwlCarousel2-2.3.4/dist/assets/owl.theme.default.css') }}" >


<!--  jQuery 1.7+  -->
<script src="{{ asset('OwlCarousel2-2.3.4/dist/owl.carousel.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Include js plugin -->


<html lang="en">
<head>
    <style>
        #owl-demo{
width: 100%;
            margin: auto;

        }
        #owl-demo .item{
            margin: 10px;
            color: #FFF;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            text-align: center;
            width: 20% !important;
        }
        .customNavigation{
            text-align: center;
        }

          .customNavigation a{
              -webkit-user-select: none;
              -khtml-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          }
        .owl-carousel.owl-loaded {
            display: inherit !important;
        }
      .clus{
          /*background-color: white;*/
          /*border: 1px solid gainsboro;*/
          /*margin-bottom: 20px;*/
      }
        .single-title-link{
            font-size: 16px !important;
        }
        @media all and (max-width: 1025px) {
            .card.small.apps.square-cover .cover-image{
                max-width: 89% !important;
            }
        }
    </style>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>





<div class="mdl-grid">
    {#<div class="mdl-cell mdl-cell--12-col">#}
        {#<!--#}
        {#<h3 class="fd-title">#}
            {#{% if category_slug %}<a href="{{ path('category_whats_new', {'slug': category_slug}) }}">{% endif %}What's new{% if category_slug %}</a>{% endif %}#}
            {#{% if category_slug %}<a href="{{ path('category_whats_new', {'slug': category_slug}) }}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">See More</a>{% endif %}#}
        {#</h3>#}
        {#-->#}
    {#</div>#}
    <div class="clus">
    <div class="cluster-heading" style="width: 1088px;">
        <h2 class="single-title-link">
            <a class="title-link id-track-click"
               data-server-cookie="CAMiSAgBEAMaLBIqCiRwcm9tb3Rpb25fMzAwMDc5MV9uZXdfcmVsZWFzZXNfZ2FtZXMQLRgDogETCOD4zuLD+NoCFQ3FpwodWqsGNA==" data-uitype="291"
                href="/store/apps/collection/promotion_3000791_new_releases_games?clp=SiwKKgokcHJvbW90aW9uXzMwMDA3OTFfbmV3X3JlbGVhc2VzX2dhbWVzEAcYAw%3D%3D:S:ANO1ljJAzZo">
                New + Updated Games</a><span><a class="see-more play-button small id-track-click apps id-responsive-see-more" data-always-show="false" data-server-cookie="CAMiSAgBEAMaLBIqCiRwcm9tb3Rpb25fMzAwMDc5MV9uZXdfcmVsZWFzZXNfZ2FtZXMQLRgDogETCOD4zuLD+NoCFQ3FpwodWqsGNA==" data-uitype="290"
      href="/store/apps/collection/promotion_3000791_new_releases_games?clp=SiwKKgokcHJvbW90aW9uXzMwMDA3OTFfbmV3X3JlbGVhc2VzX2dhbWVzEAcYAw%3D%3D:S:ANO1ljJAzZo" aria-label="Check out more content fromNew + Updated Games" style="display: none;">See more</a></span></h2></div>
    <div id="owl-demo" class="owl-carousel owl-theme">

        {% for application in applications %}
            <div class="item">

                {{ include("MelodycodeFossdroidBundle:Partial:_application_box.html.twig") }}
            </div>
        {% endfor %}

    </div>


    </div>
    <div class="clus">
    <div class="cluster-heading" style="width: 1088px;">
        <h2 class="single-title-link">
            <a class="title-link id-track-click"
               data-server-cookie="CAMiSAgBEAMaLBIqCiRwcm9tb3Rpb25fMzAwMDc5MV9uZXdfcmVsZWFzZXNfZ2FtZXMQLRgDogETCOD4zuLD+NoCFQ3FpwodWqsGNA==" data-uitype="291"
               href="/store/apps/collection/promotion_3000791_new_releases_games?clp=SiwKKgokcHJvbW90aW9uXzMwMDA3OTFfbmV3X3JlbGVhc2VzX2dhbWVzEAcYAw%3D%3D:S:ANO1ljJAzZo">
                what's new Bundles</a><span><a class="see-more play-button small id-track-click apps id-responsive-see-more" data-always-show="false" data-server-cookie="CAMiSAgBEAMaLBIqCiRwcm9tb3Rpb25fMzAwMDc5MV9uZXdfcmVsZWFzZXNfZ2FtZXMQLRgDogETCOD4zuLD+NoCFQ3FpwodWqsGNA==" data-uitype="290"
                                                href="/store/apps/collection/promotion_3000791_new_releases_games?clp=SiwKKgokcHJvbW90aW9uXzMwMDA3OTFfbmV3X3JlbGVhc2VzX2dhbWVzEAcYAw%3D%3D:S:ANO1ljJAzZo" aria-label="Check out more content fromNew + Updated Games" style="display: none;">See more</a></span></h2></div>

    <div id="owl-demo2" class="owl-carousel owl-theme owl-loaded ">

        {% for application in bundle1Applications %}
            <div class="item">

                {{ include("MelodycodeFossdroidBundle:Partial:_application_box.html.twig") }}
            </div>
        {% endfor %}

    </div>
    </div>

    <div class="clus">
    <div class="cluster-heading" style="width: 1088px;">
        <h2 class="single-title-link">
            <a class="title-link id-track-click"
               data-server-cookie="CAMiSAgBEAMaLBIqCiRwcm9tb3Rpb25fMzAwMDc5MV9uZXdfcmVsZWFzZXNfZ2FtZXMQLRgDogETCOD4zuLD+NoCFQ3FpwodWqsGNA==" data-uitype="291"
               href="/store/apps/collection/promotion_3000791_new_releases_games?clp=SiwKKgokcHJvbW90aW9uXzMwMDA3OTFfbmV3X3JlbGVhc2VzX2dhbWVzEAcYAw%3D%3D:S:ANO1ljJAzZo">
                what's new Bundles</a><span><a class="see-more play-button small id-track-click apps id-responsive-see-more" data-always-show="false" data-server-cookie="CAMiSAgBEAMaLBIqCiRwcm9tb3Rpb25fMzAwMDc5MV9uZXdfcmVsZWFzZXNfZ2FtZXMQLRgDogETCOD4zuLD+NoCFQ3FpwodWqsGNA==" data-uitype="290"
                                               href="/store/apps/collection/promotion_3000791_new_releases_games?clp=SiwKKgokcHJvbW90aW9uXzMwMDA3OTFfbmV3X3JlbGVhc2VzX2dhbWVzEAcYAw%3D%3D:S:ANO1ljJAzZo" aria-label="Check out more content fromNew + Updated Games" style="display: none;">See more</a></span></h2></div>
    <div id="owl-demo1" class="owl-carousel owl-theme owl-loaded ">

        {% for application in bundle1Applications %}
            <div class="item">

                {{ include("MelodycodeFossdroidBundle:Partial:_application_box.html.twig") }}
            </div>
        {% endfor %}

    </div>
    </div>

<!--
{% if category_slug %}
        <div class="fd-application_more mdl-card mdl-shadow--2dp mdl-color--accent">
            <div class="mdl-card__title mdl-card--expand">
                <h5 class="mdl-color-text--white">
                    <a href="{{ path('category_whats_new', {'slug': category_slug}) }}">See More</a>
                </h5>
            </div>
        </div>
    {% endif %}-->
</div>
</body>
</html>