{% extends 'MelodycodeFossdroidBundle::base.html.twig' %}
{% block title %}My Account{% endblock %}

{% block breadcrumb %}
    My Account
{% endblock %}

{% block body %}
    <div style="width:80%; margin-left:10%; margin-top:5%; margin-bottom:10%;">
        <div><h4 style="border-bottom: black 1px solid; margin-bottom: 40px;">Account details</h4></div>
        <div class="datagrid">
            <table>
                <tr style="border-bottom: #f4f4f4 1px solid;  ">
                    <th width="12%" style="border-right:#f4f4f4 4px solid; text-align: right">  Username: </th>
                    <th style="background-color: #d3d3d3;padding-left: 5%;">{{ clientDetails.ID }}</th>

                </tr>
                <tr style="border-bottom: #f4f4f4 1px solid;">
                    <th width="14%" style="border-right:#f4f4f4 4px solid; text-align: right">  Password: </th>
                    <th style="background-color: #d3d3d3;padding-left: 5%;"><div id="pss"><span id="old-password">{{ clientDetails.Password }}</span>
                            <a onclick="document.getElementById('pss').setAttribute('hidden',true);
                            document.getElementById('form').removeAttribute('hidden');
                            var s=document.getElementById('old-password').innerHTML;
                            document.getElementById('new-password').setAttribute('value',s);
                            event.preventDefault();
                            " href="" style="margin-left: 10px;">
                                Edit</a>
                        </div>
                        <div id="form" hidden>
                            <form  method="post">
                                <input id="new-password" style="padding: 5px;" type="text" name="new-password">
                                <input type="submit" style="    background-color: #f34336; /* Green */
    border: none;
    color: white;
    padding: 5px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
"></form></div></th>

                </tr>
                <tr style="border-bottom: #f4f4f4 1px solid;">
                    <th width="14%" style="border-right:#f4f4f4 4px solid; text-align: right">  Address: </th>
                    <th style="background-color: #d3d3d3;padding-left: 5%;">{{ clientDetails.Address }}</th>

                </tr>
                <tr style="border-bottom: #f4f4f4 1px solid;">
                    <th width="14%" style="border-right:#f4f4f4 4px solid; text-align: right">  Email :</th>
                    <th style="background-color: #d3d3d3;padding-left: 5%;">{{ clientDetails.Email }}</th>

                </tr>
                <tr style="border-bottom: #f4f4f4 1px solid;">
                    <th width="14%" style="border-right:#f4f4f4 4px solid; text-align: right">  Subscription :</th>
                    <th style="background-color: #d3d3d3;padding-left: 5%;"><a href=" {{ path('client_subs') }}"> View</a></th>

                </tr>
                <tr style="border-bottom: #f4f4f4 1px solid;">
                    <th width="14%" style="border-right:#f4f4f4 4px solid; text-align: right">  My Applications :</th>
                    <th style="background-color: #d3d3d3;padding-left: 5%;"><a href=" {{ path('client_apps') }}"> View</a></th>

                </tr>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
