{% extends 'MelodycodeFossdroidBundle::base.html.twig' %}
{% block title %}My Bundles/Subscriptions{% endblock %}

{% block breadcrumb %}
My Bundles/Subscriptions
{% endblock %}
{% block head%}
    <link rel="stylesheet" href="{{ asset('css/account.css') }}">

{%endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-7">
            <div class="subcont" style="width:90%; margin: auto; margin-top:5%;">
                <div class="subsLabel"><h4 style="margin-bottom: 22px;font-family: Serif; font-size: 20px">Purchased Bundles</h4></div>
                <hr>
                <div class="datagrid">
                    <table>
                        <thead>
                        <tr>
                            <th class="thStyle">Bundle Name</th>
                            <th class="thStyle">Subscription Start</th>
                            <th class="thStyle">Subscription End</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for bundle in subs %}
                            <tr>
                                <td><a class="blue-anchor" href="{{ path('bundle', {'slug': bundle.ID}) }}">{{ bundle.Name }}</a></td>
                                <td>{{ bundle.Start }}</td>
                                <td>{{ bundle.End }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-4">

        </div>
    </div>

  
{% endblock %}
