{% extends 'MelodycodeFossdroidBundle::base.html.twig' %}

{% set count = 0 %}
{% set count5 = 0 %}
{% set count2 = 0 %}
{% set count3 = 0 %}
{% set count4 = 0 %}
{% set count6 = 0 %}
{% set count9 = 0 %}
{% set count7 = 0 %}
{% set count10 = 0 %}
{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="{{ asset('OwlCarousel2-2.3.4/dist/assets/owl.theme.default.css') }}" >

<link rel="stylesheet" href="{{ asset('OwlCarousel2-2.3.4/dist/assets/owl.carousel.css') }}" >
    <link rel="stylesheet" href="{{ asset('css/HomeIndex.css') }}">
<!--  jQuery 1.7+  -->
<script src="{{ asset('OwlCarousel2-2.3.4/dist/owl.carousel.js') }}"></script>

<script>



    document.onreadystatechange = function () {
        var state = document.readyState
        if (state == 'interactive') {


            document.getElementById('mdl-grid').style.display="none";
        } else if (state == 'complete') {
            setTimeout(function(){
                document.getElementById('interactive');
                $("div#mdl-grid").removeClass("hidden");
                document.getElementById('mdl-grid').style.display="block";
                document.getElementById('load').style.display="none";
            },2000);
    }
    }

</script>
<script>

    $(document).ready(function() {
        $("#bundle7").owlCarousel({

            items : 6, // THIS IS IMPORTANT
            responsive : {
                0: {items: 1},
                340: {items: 2},
                564: {items: 3}, // from zero to 480 screen width 4 items
                768: {items: 4}, // from 480 screen widthto 768 6 items
                1030: {
                    items: 4  // from 768 screen width to 1024 8 items


                },
                1152: {
                    items: 5   // from 768 screen width to 1024 8 items


                },
                1475: {
                    items: 7   // from 768 screen width to 1024 8 items
                }
            },
        });
        $("#category2").owlCarousel({

            // Show next and prev buttons

            items : 6, // THIS IS IMPORTANT
            responsive : {
                0: {items: 1},
                340: {items: 2},
                564: {items: 3}, // from zero to 480 screen width 4 items
                768: {items: 4}, // from 480 screen widthto 768 6 items
                1030: {
                    items: 4  // from 768 screen width to 1024 8 items


                },
                1152: {
                    items: 5   // from 768 screen width to 1024 8 items


                },
                1475: {
                    items: 7   // from 768 screen width to 1024 8 items
                }
            },
        });
        $("#bundle2").owlCarousel({

            // Show next and prev buttons

            items: 6, // THIS IS IMPORTANT
            responsive: {
                0: {items: 1},
                340: {items: 2},
                564: {items: 3}, // from zero to 480 screen width 4 items
                768: {items: 4}, // from 480 screen widthto 768 6 items
                1030: {
                    items: 4  // from 768 screen width to 1024 8 items


                },
                1152: {
                    items:5   // from 768 screen width to 1024 8 items


                },
                1475: {
                    items: 7   // from 768 screen width to 1024 8 items
                }
            },
        });
        $("#bundle1").owlCarousel({


            items : 6, // THIS IS IMPORTANT
            responsive : {
                0: {items: 1},
                340: {items: 2},
                564: {items: 3}, // from zero to 480 screen width 4 items
                768: {items: 4}, // from 480 screen widthto 768 6 items
                1030: {
                    items: 4  // from 768 screen width to 1024 8 items


                },
                1152: {
                    items: 5   // from 768 screen width to 1024 8 items


                },
                1475: {
                    items: 7   // from 768 screen width to 1024 8 items
                }
            },
        });
        $("#bundle3").owlCarousel({

            items : 6, // THIS IS IMPORTANT
            responsive : {
                0: {items: 1},
                340: {items: 2},
                564: {items: 3}, // from zero to 480 screen width 4 items
                768: {items: 4}, // from 480 screen widthto 768 6 items
                1030: {
                    items: 4  // from 768 screen width to 1024 8 items


                },
                1152: {
                    items: 5  // from 768 screen width to 1024 8 items


                },
                1475: {
                    items: 7   // from 768 screen width to 1024 8 items
                }
            },
        });

        $("#bundle5").owlCarousel({

            items : 6, // THIS IS IMPORTANT
            responsive : {
                0: {items: 1},
                340: {items: 2},
                564: {items: 3}, // from zero to 480 screen width 4 items
                768: {items: 4}, // from 480 screen widthto 768 6 items
                1030: {
                    items: 4  // from 768 screen width to 1024 8 items


                },
                1152: {
                    items: 5   // from 768 screen width to 1024 8 items


                },
                1475: {
                    items: 7   // from 768 screen width to 1024 8 items
                }
            },
        });
        $("#category1").owlCarousel({


            items : 6, // THIS IS IMPORTANT
            responsive : {
                0: {items: 1},
                340: {items: 2},
                564: {items: 3}, // from zero to 480 screen width 4 items
                768: {items: 4}, // from 480 screen widthto 768 6 items
                1030: {
                    items: 4  // from 768 screen width to 1024 8 items


                },
                1152: {
                    items: 5  // from 768 screen width to 1024 8 items


                },
                1475: {
                    items: 7   // from 768 screen width to 1024 8 items
                }
            },
        });
        $("#bundle6").owlCarousel({


            items : 6, // THIS IS IMPORTANT
            responsive : {
                0:{items:1},
                340:{items:2},
                564 : { items : 3  }, // from zero to 480 screen width 4 items
                768 : { items : 4 }, // from 480 screen widthto 768 6 items
                1030: {
                    items: 4  // from 768 screen width to 1024 8 items


                },
                1152: {
                    items: 5   // from 768 screen width to 1024 8 items


                },
                1475: {
                    items: 7   // from 768 screen width to 1024 8 items
                }
            },
        });

        $("#bundle4").owlCarousel({


            items : 6, // THIS IS IMPORTANT
            responsive : {
                0: {items: 1},
                340: {items: 2},
                564: {items: 3}, // from zero to 480 screen width 4 items
                768: {items: 4}, // from 480 screen widthto 768 6 items
                1030: {
                    items: 4  // from 768 screen width to 1024 8 items


                },
                1152: {
                    items: 5  // from 768 screen width to 1024 8 items


                },
                1475: {
                    items: 7   // from 768 screen width to 1024 8 items
                }
            },
        });


        // Custom Navigation Events
    });

</script>

    <style>

    </style>
    {% endblock %}
    {% block body %}
        <div class="lds-spinner" id="load"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
<div class="mdl-grid hidden" id="mdl-grid" >
    <div class="clus">
        <div class="row" style="width: 100%; margin-top: 10px;">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10  col-10">
                <h2 class="single-title-link">
                    <a class="title-link id-track-click"
                       data-server-cookie="CAMiSAgBEAMaLBIqCiRwcm9tb3Rpb25fMzAwMDc5MV9uZXdfcmVsZWFzZXNfZ2FtZXMQLRgDogETCOD4zuLD+NoCFQ3FpwodWqsGNA==" data-uitype="291"
                    >
                        {{ bundle1.Name }}</a></h2>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2 " id="btnsee">
                    <button type="button" id="SeeMoreBtn" onclick="location.href='{{ path('bundle', {'slug': 1}) }}'" class="btn btn-primary seeMoreBtn"> <a href="{{ path('bundle', {'slug': 1}) }}" >See More</a></button>
                    <a class="seeMoreSmallDevice" href="{{ path('bundle', {'slug': 1}) }}"> More</a>
                </div>
            </div>

        <div id="bundle1" class="owl-carousel  ">
            {% for application in bundle1Applications%}
                <div class="item" >

                    {{ include("MelodycodeFossdroidBundle:Partial:_application_box.html.twig") }}
                </div>
            {% endfor %}



        </div>
    </div>
    <div class="clus">
        <div class="row" style="width: 100%; margin-top: 10px;">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10  col-10">
                <h2 class="single-title-link">
                    <a class="title-link id-track-click"
                       data-server-cookie="CAMiSAgBEAMaLBIqCiRwcm9tb3Rpb25fMzAwMDc5MV9uZXdfcmVsZWFzZXNfZ2FtZXMQLRgDogETCOD4zuLD+NoCFQ3FpwodWqsGNA==" data-uitype="291"
                    >
                        {{ bundle2.Name }}  </a></h2>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2" id="btnsee">
                    <button type="button" id="SeeMoreBtn" onclick="location.href='{{ path('bundle', {'slug': 2}) }}'" class="btn btn-primary seeMoreBtn"> <a href="{{ path('bundle', {'slug': 2}) }}">See More</a></button>
                    <a class="seeMoreSmallDevice" href="{{ path('bundle', {'slug': 2}) }}"> More</a>
                </div>
            </div>

        <div id="bundle2" class="owl-carousel ">
            {% for application in bundle1Applications2 %}
                <div class="item">

                    {{ include("MelodycodeFossdroidBundle:Partial:_application_box.html.twig") }}
                </div>
            {% endfor %}


        </div>


    </div>
    <div class="clus">



        <div class="row" style="width: 100%; margin-top: 10px;">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10  col-10">
                <h2 class="single-title-link">
                    <a class="title-link id-track-click"
                       data-server-cookie="CAMiSAgBEAMaLBIqCiRwcm9tb3Rpb25fMzAwMDc5MV9uZXdfcmVsZWFzZXNfZ2FtZXMQLRgDogETCOD4zuLD+NoCFQ3FpwodWqsGNA==" data-uitype="291"
                    >
                        {{ bundle3.Name }}</a></h2>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2" id="btnsee">
                <button type="button"  id="SeeMoreBtn" onclick="location.href='{{ path('bundle', {'slug': 3}) }}'" class="btn btn-primary seeMoreBtn" > <a href="{{ path('bundle', {'slug': 3}) }}">See More</a></button>
                <a class="seeMoreSmallDevice" href="{{ path('bundle', {'slug': 3}) }}"> More</a>
            </div>
        </div>
        {#<div class="cluster-heading" style="width: 1088px;">#}
        {#<h2 class="single-title-link">#}
        {#<a class="title-link id-track-click"#}
        {#data-server-cookie="CAMiSAgBEAMaLBIqCiRwcm9tb3Rpb25fMzAwMDc5MV9uZXdfcmVsZWFzZXNfZ2FtZXMQLRgDogETCOD4zuLD+NoCFQ3FpwodWqsGNA==" data-uitype="291"#}
        {#>#}
        {#what's new Bundles</a><span><a class="see-more play-button small id-track-click apps id-responsive-see-more" data-always-show="false" data-server-cookie="CAMiSAgBEAMaLBIqCiRwcm9tb3Rpb25fMzAwMDc5MV9uZXdfcmVsZWFzZXNfZ2FtZXMQLRgDogETCOD4zuLD+NoCFQ3FpwodWqsGNA==" data-uitype="290"#}
        {#href="/store/apps/collection/promotion_3000791_new_releases_games?clp=SiwKKgokcHJvbW90aW9uXzMwMDA3OTFfbmV3X3JlbGVhc2VzX2dhbWVzEAcYAw%3D%3D:S:ANO1ljJAzZo" aria-label="Check out more content fromNew + Updated Games" style="display: none;">See more</a></span></h2></div>#}
        <div id="bundle3" class="owl-carousel ">
            {% for application in bundle1Applications3 %}
                <div class="item">

                    {{ include("MelodycodeFossdroidBundle:Partial:_application_box.html.twig") }}
                </div>
            {% endfor %}


        </div>
    </div>
    <div class="clus">



        <div class="row" style="width: 100%; margin-top: 10px;">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10  col-10">
                <h2 class="single-title-link">
                    <a class="title-link id-track-click"
                       data-server-cookie="CAMiSAgBEAMaLBIqCiRwcm9tb3Rpb25fMzAwMDc5MV9uZXdfcmVsZWFzZXNfZ2FtZXMQLRgDogETCOD4zuLD+NoCFQ3FpwodWqsGNA==" data-uitype="291"
                    >
                  {{ bundle4.Name }}  </a></h2>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2" id="btnsee">
                <button type="button"   id="SeeMoreBtn" onclick="location.href='{{ path('bundle', {'slug': 4}) }}'" class="btn btn-primary seeMoreBtn"> <a href="{{ path('bundle', {'slug': 4}) }}">See More</a></button>
                <a class="seeMoreSmallDevice" href="{{ path('bundle', {'slug': 4}) }}"> More</a>
            </div>
        </div>
        {#<div class="cluster-heading" style="width: 1088px;">#}
        {#<h2 class="single-title-link">#}
        {#<a class="title-link id-track-click"#}
        {#data-server-cookie="CAMiSAgBEAMaLBIqCiRwcm9tb3Rpb25fMzAwMDc5MV9uZXdfcmVsZWFzZXNfZ2FtZXMQLRgDogETCOD4zuLD+NoCFQ3FpwodWqsGNA==" data-uitype="291"#}
        {#>#}
        {#what's new Bundles</a><span><a class="see-more play-button small id-track-click apps id-responsive-see-more" data-always-show="false" data-server-cookie="CAMiSAgBEAMaLBIqCiRwcm9tb3Rpb25fMzAwMDc5MV9uZXdfcmVsZWFzZXNfZ2FtZXMQLRgDogETCOD4zuLD+NoCFQ3FpwodWqsGNA==" data-uitype="290"#}
        {#href="/store/apps/collection/promotion_3000791_new_releases_games?clp=SiwKKgokcHJvbW90aW9uXzMwMDA3OTFfbmV3X3JlbGVhc2VzX2dhbWVzEAcYAw%3D%3D:S:ANO1ljJAzZo" aria-label="Check out more content fromNew + Updated Games" style="display: none;">See more</a></span></h2></div>#}

        {#{% if is_mobile() %}#}

        <div id="bundle4" class="owl-carousel ">
            {% for application in bundle1Applications4 %}
                <div class="item">

                    {{ include("MelodycodeFossdroidBundle:Partial:_application_box.html.twig") }}
                </div>
            {% endfor %}



        </div>


    </div>


    <div class="clus">
        <div class="row" style="width: 100%; margin-top: 10px;">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10  col-10">
                <h2 class="single-title-link">
                    <a class="title-link id-track-click"
                       data-server-cookie="CAMiSAgBEAMaLBIqCiRwcm9tb3Rpb25fMzAwMDc5MV9uZXdfcmVsZWFzZXNfZ2FtZXMQLRgDogETCOD4zuLD+NoCFQ3FpwodWqsGNA==" data-uitype="291"
                    >
                        {{ bundle5.Name }}</a></h2>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2" id="btnsee">
                <button type="button"  id="SeeMoreBtn" onclick="location.href='{{ path('bundle', {'slug': 5}) }}'" class="btn btn-primary seeMoreBtn"> <a href="{{ path('bundle', {'slug':5}) }}">See More</a></button>
                <a class="seeMoreSmallDevice" href="{{ path('bundle', {'slug': 5}) }}"> More</a>
            </div>
        </div>
        {#<div class="cluster-heading" style="width: 1088px;">#}
        {#<h2 class="single-title-link">#}
        {#<a class="title-link id-track-click"#}
        {#data-server-cookie="CAMiSAgBEAMaLBIqCiRwcm9tb3Rpb25fMzAwMDc5MV9uZXdfcmVsZWFzZXNfZ2FtZXMQLRgDogETCOD4zuLD+NoCFQ3FpwodWqsGNA==" data-uitype="291"#}
        {#>#}
        {#what's new Bundles</a><span><a class="see-more play-button small id-track-click apps id-responsive-see-more" data-always-show="false" data-server-cookie="CAMiSAgBEAMaLBIqCiRwcm9tb3Rpb25fMzAwMDc5MV9uZXdfcmVsZWFzZXNfZ2FtZXMQLRgDogETCOD4zuLD+NoCFQ3FpwodWqsGNA==" data-uitype="290"#}
        {#href="/store/apps/collection/promotion_3000791_new_releases_games?clp=SiwKKgokcHJvbW90aW9uXzMwMDA3OTFfbmV3X3JlbGVhc2VzX2dhbWVzEAcYAw%3D%3D:S:ANO1ljJAzZo" aria-label="Check out more content fromNew + Updated Games" style="display: none;">See more</a></span></h2></div>#}
        <div id="bundle5" class="owl-carousel ">
            {% for application in bundle1Applications5 %}
                <div class="item">

                    {{ include("MelodycodeFossdroidBundle:Partial:_application_box.html.twig") }}
                </div>
            {% endfor %}

        </div>
    </div>
    <div class="clus">


        <div class="row" style="width: 100%; margin-top: 10px;">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10  col-10">
                <h2 class="single-title-link">
                    <a class="title-link id-track-click"
                       data-server-cookie="CAMiSAgBEAMaLBIqCiRwcm9tb3Rpb25fMzAwMDc5MV9uZXdfcmVsZWFzZXNfZ2FtZXMQLRgDogETCOD4zuLD+NoCFQ3FpwodWqsGNA==" data-uitype="291"
                    >
                       {{ bundle6.Name }} </a></h2>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2" id="btnsee">
                <button type="button"  id="SeeMoreBtn"  onclick="location.href='{{ path('bundle', {'slug': 6}) }}'"class="btn btn-primary seeMoreBtn"> <a href="{{ path('bundle', {'slug': 6}) }}">See More</a></button>
                <a class="seeMoreSmallDevice" href="{{ path('bundle', {'slug': 6}) }}"> More</a>
            </div>
        </div>
        {#<div class="cluster-heading" style="width: 1088px;">#}
        {#<h2 class="single-title-link">#}
        {#<a class="title-link id-track-click"#}
        {#data-server-cookie="CAMiSAgBEAMaLBIqCiRwcm9tb3Rpb25fMzAwMDc5MV9uZXdfcmVsZWFzZXNfZ2FtZXMQLRgDogETCOD4zuLD+NoCFQ3FpwodWqsGNA==" data-uitype="291"#}
        {#>#}
        {#what's new Bundles</a><span><a class="see-more play-button small id-track-click apps id-responsive-see-more" data-always-show="false" data-server-cookie="CAMiSAgBEAMaLBIqCiRwcm9tb3Rpb25fMzAwMDc5MV9uZXdfcmVsZWFzZXNfZ2FtZXMQLRgDogETCOD4zuLD+NoCFQ3FpwodWqsGNA==" data-uitype="290"#}
        {#href="/store/apps/collection/promotion_3000791_new_releases_games?clp=SiwKKgokcHJvbW90aW9uXzMwMDA3OTFfbmV3X3JlbGVhc2VzX2dhbWVzEAcYAw%3D%3D:S:ANO1ljJAzZo" aria-label="Check out more content fromNew + Updated Games" style="display: none;">See more</a></span></h2></div>#}
        <div id="bundle6" class="owl-carousel ">
            {% for application in bundle1Applications6 %}
                <div class="item">

                    {{ include("MelodycodeFossdroidBundle:Partial:_application_box.html.twig") }}
                </div>
            {% endfor %}

        </div>
    </div>


    <div class="clus">


        <div class="row" style="width: 100%; margin-top: 10px;">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10  col-10">
                <h2 class="single-title-link">
                    <a class="title-link id-track-click"
                       data-server-cookie="CAMiSAgBEAMaLBIqCiRwcm9tb3Rpb25fMzAwMDc5MV9uZXdfcmVsZWFzZXNfZ2FtZXMQLRgDogETCOD4zuLD+NoCFQ3FpwodWqsGNA==" data-uitype="291"
                    >
                 {{ bundle7.Name }}      </a></h2>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2" id="btnsee">
                <button type="button" id="SeeMoreBtn"  onclick="location.href='{{ path('bundle', {'slug': 7}) }}'"class="btn btn-primary seeMoreBtn"> <a href="{{ path('bundle', {'slug': 7}) }}">See More</a></button>
                <a class="seeMoreSmallDevice" href="{{ path('bundle', {'slug': 7}) }}"> More</a>
            </div>
        </div>
        {#<div class="cluster-heading" style="width: 1088px;">#}
        {#<h2 class="single-title-link">#}
        {#<a class="title-link id-track-click"#}
        {#data-server-cookie="CAMiSAgBEAMaLBIqCiRwcm9tb3Rpb25fMzAwMDc5MV9uZXdfcmVsZWFzZXNfZ2FtZXMQLRgDogETCOD4zuLD+NoCFQ3FpwodWqsGNA==" data-uitype="291"#}
        {#>#}
        {#what's new Bundles</a><span><a class="see-more play-button small id-track-click apps id-responsive-see-more" data-always-show="false" data-server-cookie="CAMiSAgBEAMaLBIqCiRwcm9tb3Rpb25fMzAwMDc5MV9uZXdfcmVsZWFzZXNfZ2FtZXMQLRgDogETCOD4zuLD+NoCFQ3FpwodWqsGNA==" data-uitype="290"#}
        {#href="/store/apps/collection/promotion_3000791_new_releases_games?clp=SiwKKgokcHJvbW90aW9uXzMwMDA3OTFfbmV3X3JlbGVhc2VzX2dhbWVzEAcYAw%3D%3D:S:ANO1ljJAzZo" aria-label="Check out more content fromNew + Updated Games" style="display: none;">See more</a></span></h2></div>#}
        <div id="bundle7" class="owl-carousel ">
            {% for application in bundle1Applications7 %}
                <div class="item">

                    {{ include("MelodycodeFossdroidBundle:Partial:_application_box.html.twig") }}
                </div>
            {% endfor %}

        </div>
    </div>


    <div class="clus">


        <div class="row" style="width: 100%; margin-top: 10px;">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10  col-10">
                <h2 class="single-title-link">
                    <a class="title-link id-track-click"
                       data-server-cookie="CAMiSAgBEAMaLBIqCiRwcm9tb3Rpb25fMzAwMDc5MV9uZXdfcmVsZWFzZXNfZ2FtZXMQLRgDogETCOD4zuLD+NoCFQ3FpwodWqsGNA==" data-uitype="291"
                    >
                        {{ category1Name}}       </a></h2>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2" id="btnsee">
                <button type="button" id="SeeMoreBtn"  onclick="location.href='{{ path('category', {'slug':"games"}) }}'"class="btn btn-primary seeMoreBtn"> <a href='{{ path('category', {'slug': "games"}) }}'>See More</a></button>
                <a class="seeMoreSmallDevice" href='{{ path('category', {'slug': "games"}) }}'> More</a>
            </div>
        </div>
        {#<div class="cluster-heading" style="width: 1088px;">#}
        {#<h2 class="single-title-link">#}
        {#<a class="title-link id-track-click"#}
        {#data-server-cookie="CAMiSAgBEAMaLBIqCiRwcm9tb3Rpb25fMzAwMDc5MV9uZXdfcmVsZWFzZXNfZ2FtZXMQLRgDogETCOD4zuLD+NoCFQ3FpwodWqsGNA==" data-uitype="291"#}
        {#>#}
        {#what's new Bundles</a><span><a class="see-more play-button small id-track-click apps id-responsive-see-more" data-always-show="false" data-server-cookie="CAMiSAgBEAMaLBIqCiRwcm9tb3Rpb25fMzAwMDc5MV9uZXdfcmVsZWFzZXNfZ2FtZXMQLRgDogETCOD4zuLD+NoCFQ3FpwodWqsGNA==" data-uitype="290"#}
        {#href="/store/apps/collection/promotion_3000791_new_releases_games?clp=SiwKKgokcHJvbW90aW9uXzMwMDA3OTFfbmV3X3JlbGVhc2VzX2dhbWVzEAcYAw%3D%3D:S:ANO1ljJAzZo" aria-label="Check out more content fromNew + Updated Games" style="display: none;">See more</a></span></h2></div>#}
        <div id="category1" class="owl-carousel ">
            {% for application in applications3 %}
                <div class="item">

                    {{ include("MelodycodeFossdroidBundle:Partial:_application_box.html.twig") }}
                </div>
            {% endfor %}


        </div>
    </div>
    <div class="clus">


        <div class="row" style="width: 100%; margin-top: 10px;">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10  col-10">
                <h2 class="single-title-link">
                    <a class="title-link id-track-click"
                       data-server-cookie="CAMiSAgBEAMaLBIqCiRwcm9tb3Rpb25fMzAwMDc5MV9uZXdfcmVsZWFzZXNfZ2FtZXMQLRgDogETCOD4zuLD+NoCFQ3FpwodWqsGNA==" data-uitype="291"
                    >
                       {{ category2Name }}</a></h2>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2"  id="btnsee">
                <button type="button" id="SeeMoreBtn" onclick="location.href='{{ path('category', {'slug':"system"}) }}'"class="btn btn-primary seeMoreBtn"> <a href='{{ path('category', {'slug': "system"}) }}'>See More</a></button>
                <a class="seeMoreSmallDevice" href='{{ path('category', {'slug': "system"}) }}'> More</a>
            </div>
        </div>
        {#<div class="cluster-heading" style="width: 1088px;">#}
        {#<h2 class="single-title-link">#}
        {#<a class="title-link id-track-click"#}
        {#data-server-cookie="CAMiSAgBEAMaLBIqCiRwcm9tb3Rpb25fMzAwMDc5MV9uZXdfcmVsZWFzZXNfZ2FtZXMQLRgDogETCOD4zuLD+NoCFQ3FpwodWqsGNA==" data-uitype="291"#}
        {#>#}
        {#what's new Bundles</a><span><a class="see-more play-button small id-track-click apps id-responsive-see-more" data-always-show="false" data-server-cookie="CAMiSAgBEAMaLBIqCiRwcm9tb3Rpb25fMzAwMDc5MV9uZXdfcmVsZWFzZXNfZ2FtZXMQLRgDogETCOD4zuLD+NoCFQ3FpwodWqsGNA==" data-uitype="290"#}
        {#href="/store/apps/collection/promotion_3000791_new_releases_games?clp=SiwKKgokcHJvbW90aW9uXzMwMDA3OTFfbmV3X3JlbGVhc2VzX2dhbWVzEAcYAw%3D%3D:S:ANO1ljJAzZo" aria-label="Check out more content fromNew + Updated Games" style="display: none;">See more</a></span></h2></div>#}
 <div id="category2" class="owl-carousel ">
     {% for application in applications2 %}
         <div class="item">

             {{ include("MelodycodeFossdroidBundle:Partial:_application_box.html.twig") }}
         </div>
     {% endfor %}

        </div>
    </div>
</div>

    {% endblock %}
