{% extends 'DashboardBundle:Developer:base.html.twig' %}
{% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('dist/jquery.scroltable.min.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="{{ asset('dist/jquery.scroltable.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('table').scroltable();
        });
    </script>
    <style type="text/css">
        h1 {
            margin: 30px 0;
            padding: 0 200px 15px 0;
            border-bottom: 1px solid #E5E5E5;
        }

        .bs-example {
            margin: 20px;
        }

        .form-style-2-heading {
            font-weight: bold;

            border-bottom: 2px solid #ddd;
            margin-bottom: 40px;
            margin-top: 40px;
            font-size: 15px;
            padding-bottom: 3px;
        }

        .material-icons {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            vertical-align: middle;
        }

        .font-b {
            font-family: serif;
            color: #616161;

        }

        td {
            font-family: serif;
            color: #616161;

        }

        small a {
            padding: 5px !important;
        }

        .allApp h4 {
            font-weight: bold;

            border-bottom: 1px solid #ddd;
            margin-bottom: 20px;

            font-size: 15px;
            padding-bottom: 3px;
            text-align: center;
            color: #0083ba;
            margin-top: 40px;
        }

        @media only screen and (max-width: 771px) {
            .TABLE {
                width: 100%;
            }

            td {
                width: 25%;
                padding: 0 !important;
            }
        }

        th {
            width: 25% !important;
        }

        @media only screen and (max-width: 771px) {
            .del {
                display: none !important;
            }

            .edit {
                display: none !important;
            }

            .version {
                display: none !important;
            }

            .font-b {
                font-size: 12px !important;
            }
        }

        .alert {
            margin-top: 25px !important;
            padding: 5px !important;
            margin-bottom: 0px !important;
            border: 1px solid transparent;
            border-radius: 4px;
            width: 90%;
            margin: auto;
            word-wrap: break-word;
        }

        .alert-dismissable .close, .alert-dismissible .close {
            margin-right: 16px !important;
        }
    </style>

{% endblock %}

{% block breadcrumb %}
    Developer Dashboard &rsaquo; Manage Media
    {#  <a href="{{ path('category', {'slug': application.category.slug}) }}">{{ application.category.name }}</a> &rsaquo; {{ application.name }} #}
{% endblock %}

{% block body %}

    <div class="TABLE" style="width:85%; margin: auto">
        <div class="row cont">
            <div class="allApp"><h4>All Media</h4></div>
            <div class="datagrid" style="">
                <table>
                    <thead>
                    <tr>
                        <th style="width: 60%;">Name</th>
                        <th style="width: 5%;">ID</th>
                        <th style="width: 5%;">TrackID</th>
                        <th style="width: 20%;">Category</th>
                        <th style="width: 5%;">Bucket Name</th>
                        <th style="width: 5%;">Bucket Icon</th>
                        <th style="width: 5%;">Bucket Texture</th>
                        <!-- <th>Operations</th> -->
                    </tr>
                    </thead>

                    <tbody>
                    {% for item in media %}
                        <tr>
                            <td style="width: 80%;">&nbsp;&nbsp;<b class="font-b">{{ item.Name }}</b><br
                                        style="line-height:180%;">
                                <small> &nbsp;&nbsp;<a href="{{ path('dashboard_dev_edit_media', {'slug': item.ID}) }}"><i
                                                class="material-icons edit"
                                                style="font-size:12px;">mode_edit</i>Edit</a><br><a
                                            onclick="return confirm('Are you sure you want to delete  {{ item.Name }}. This media is owned by {{item.Count}} clients ');"
                                            href="{{ path('dashboard_dev_delete_media', {'slug': item.ID, 'count':item.Count}) }}"><i
                                                class="material-icons del" style="font-size:12px">delete</i>Delete</a>
                                    {#<a href="{{ path('dashboard_dev_set_icon', {'slug': item.ID}) }}">
                                        <i class="material-icons version" style="font-size:12px">wallpaper</i> Icon</a>
                                        #}
                                </small>
                            </td>
                            <td style="width: 5%;"> {{ item.ID }}</td>
                            <td style="width: 5%;"> {{ item.TrackID }}</td>
                            <td style="width: 20%;">{{ item.Category }}</td>
                            <td style="width: 5%;">{{ item.Bucket_Name }}</td>
                            <td style="width: 5%;">{{ item.Bucket_Icon }}</td>
                            <td style="width: 5%;">{{ item.Bucket_Texture }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

{% endblock %}
