{% extends 'DashboardBundle:Developer:base.html.twig' %}
{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<style type="text/css">
    h1{
        margin: 30px 0;
        padding: 0 200px 15px 0;
        border-bottom: 1px solid #E5E5E5;
    }
	.bs-example{
    	margin: 20px;
    }
    .form-style-2-heading {
        font-weight: bold;

        border-bottom: 1px solid #ddd;
        margin-bottom: 40px;
        margin-top: 90px;
        font-size: 15px !important;
        padding-bottom: 3px;
        text-align: center;
        color: #0083ba;

    }

.material-icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}
    .addVersion{
        float: right;
    }
    .datagrid{
        margin-top: 100px;
    }
</style>
 
 {% endblock  %}

{% block breadcrumb %}
Developer Dashboard &rsaquo; Manage Applications &rsaquo; Manage Versions
   {#  <a href="{{ path('category', {'slug': application.category.slug}) }}">{{ application.category.name }}</a> &rsaquo; {{ application.name }} #}
{% endblock %}

{% block body %}

<div style="width:95%;   margin:auto;margin-top:5%;">
<div class="form-style-2-heading "><h4>{{ name}} ({{ versions[0].ApplicationID}})</h4></div>
 <div class="addVersion"><a href="{{ path('dashboard_dev_new_version', {'slug': versions[0].ApplicationID}) }}"><i class="material-icons" style="font-size:24px;">add_circle</i>New Version</a></div>
     
<div class="datagrid"  style="overflow-x:auto; !important;">
 <table>
        <thead>
          <tr>
              <th>Version</th>
              <th>Controller Binary</th>
               <th>Dongle Binary</th>
              <!-- <th>Operations</th> -->
          </tr>
        </thead>

        <tbody>
        {% for version in versions %}
          <tr>
            <td>&nbsp;&nbsp;<b>{{ version.Version }}</b><br style="line-height:180%;"><small> {% if count > 1  %} &nbsp;&nbsp;<a href="{{ path('dashboard_dev_delete_version', {'slug': version.ApplicationID ,'version':version.Version}) }}"><i class="material-icons" style="font-size:15px">delete</i>Delete</a></small>{% endif %}</td>
            <td> {{ version.ControllerAppName }}</td>
            <td>{{ version.DongleAppName }}</td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
      </div>
  	  
      
</div>
  
{% endblock %}