{% extends 'DashboardBundle:Developer:base.html.twig' %}
{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<style type="text/css">
    h1{
        margin: 30px 0;
        padding: 0 200px 15px 0;
        border-bottom: 1px solid #E5E5E5;
    }
	.bs-example{
    	margin: 20px;
    }
    .form-style-2-heading{
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 40px;
    margin-top:40px;
    font-size: 15px;
    padding-bottom: 3px;
}
</style>
 
 {% endblock  %}

{% block breadcrumb %}
{% if update == false %}
Developer Dashboard &rsaquo; New Application
{% else %}
Developer Dashboard &rsaquo; Update Application
{% endif %}
   {#  <a href="{{ path('category', {'slug': application.category.slug}) }}">{{ application.category.name }}</a> &rsaquo; {{ application.name }} #}
{% endblock %}

{% block body %}
   <div class="bs-example">
    <!-- <h1>New Application</h1> -->
    <form class="form-horizontal" method="post" enctype="multipart/form-data" >
        <div class="form-style-2-heading">Name & Identification Information</div>
        <div class="form-group">
            <label class="control-label col-xs-2" for="firstName">Application Identifier:</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" id="app-identifier" name="app-identifier" {% if update == true%}  value ="{{application.ID}}" readonly{% endif %} placeholder="e.g. com.iris.babysleep" required>
            </div>
        </div>  
        {% if update == false%}   
        <div class="form-group">
            <label class="control-label col-xs-2" for="lastName">Application Version:</label>
            <div class="col-xs-1">
                <input type="text" class="form-control" name="app-version" id="app-version" placeholder="e.g. 1.5" required>
                </div>     
                <label class="control-label" for="inputEmail">(Must match application identifier & manifest version of the two binary apps below)</label>
                       
        </div>
        {% endif %}
		<div class="form-group">
            <label class="control-label col-xs-2" for="inputEmail">Application Name:</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" name="app-name" id="app-name" {% if update == true%}  value ="{{application.Name}}" {% endif %} placeholder="e.g. Game" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">Application Category:</label>
            <div class="col-xs-3">
                <select class="form-control" name="app-category">
                    
                    {% for cat in categories %}
                    {% if appCategory is defined and cat.Name == appCategory  %}
                     <option value='{{cat.Name}}' selected="true">{{cat.Name}}</option>
                     {% else %}
                     <option value='{{cat.Name}}'>{{cat.Name}}</option>
                     {% endif%}
                    {% endfor %}
                </select>
            </div>
        </div>
<div class="form-style-2-heading">Payment Model</div>  
          <div class="form-group">
            <label class="control-label col-xs-2">Payment Model:</label>
            <div class="col-xs-1">
            {%if update == true and application.Price == 0 %}
            <label class="radio-inline">
                    <input type="radio" name="app-payment-model" value="free"  checked="checked"> Free
            </label>
            
            {% else %}
                <label class="radio-inline">
                    <input type="radio" name="app-payment-model" value="free" checked="checked"> Free
                </label>
            {% endif %}    
            </div>
            <div class="col-xs-1">
            
             {%if update == true and application.Price != 0 %}
                <label class="radio-inline">
                    <input type="radio" name="app-payment-model" value="paid" checked="checked"> Paid
                </label>
              {% else %}
              	<label class="radio-inline">
                    <input type="radio" name="app-payment-model" value="paid" > Paid
                </label>
               {% endif %}     
            </div>  
            <div class="col-xs-2">
                <div class="input-group">
                <input type="text" class="form-control" name='app-price' id="app-price" {% if update == true%}  value ="{{application.Price}}" {% endif %} placeholder="0">  
                <span class="input-group-addon">$</span>
                </div>
              </div> 
             
        </div>
        <div class="form-style-2-heading">Application Type </div>
        <div class="form-group">
            <label class="control-label col-xs-2"> Type :</label>
            <div class="col-xs-1">
                {%if update == true and application.type == "tablet" %}
                    <label class="radio-inline">
                        <input type="radio" name="app-type" value="tablet"  checked="checked"> Tablet
                    </label>

                {% else %}
                    <label class="radio-inline">
                        <input type="radio" name="app-type" value="tablet" checked="checked"> Tablet
                    </label>
                {% endif %}
            </div>
            <div class="col-xs-1">

                {%if update == true and application.type == "dongle" %}
                    <label class="radio-inline">
                        <input type="radio" name="app-type" value="dongle" checked="checked"> Dongle
                    </label>
                {% else %}
                    <label class="radio-inline">
                        <input type="radio" name="app-type" value="dongle" > Dongle
                    </label>
                {% endif %}
            </div>

        </div>
        <!--
	<div class="form-style-2-heading">Subscription Bundles</div>  
        <div class="row">
         <div class="col-xs-6"> 
        <div class="form-group">
  		<label class="control-label col-xs-offset-1" for="selectmultiple">Application Bundles (you can select multiple bundles)</label>             
  		
   		 	<select id="selectmultiple" name="app-bundle" class="form-control col-xs-offset-1" multiple="multiple">
     		 	<option value="1">Basic</option>
      			<option value="2">Kindergarden</option>
   		 	</select>
  		</div>
        </div>    
        </div>    
        -->

  {% if update == false%} 				
  <div class="form-style-2-heading col-xs-12">Application Binary</div>

        
       <div class="form-group">
            <label class="control-label col-xs-2" for="firstName">Binary:</label>
            <div class="col-xs-9">
                <input type="file"  id="app-binary" name="app-binary" required>
            </div>
        </div>  
        
{% endif %}  

<div class="form-style-2-heading col-xs-12">Application Description</div> 

        
           
        <div class="form-group">
            <label class="control-label col-xs-2" for="postalAddress">Application Summary:</label>
            <div class="col-xs-9">
                <textarea rows="3" class="form-control" name="app-summary" id="app-summary" required>
                {% if update == true%}  {{summary}} {% endif %}
                </textarea>
            </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-xs-2" for="postalAddress">Application Description:</label>
            <div class="col-xs-9">
                <textarea rows="6" class="form-control" name="app-description" id="app-description" required>					
                {% if update == true%}  {{description}} {% endif %}
                </textarea>
            </div>
        </div>
    
        <div class="form-group">
        	{% if update == false %}
                <input type="submit" class="btn btn-primary" style="margin:20px;border:4px solid #aaa;" value="Add New Application">
            {% else %}
            	<input type="submit" class="btn btn-primary" style="margin:20px;border:4px solid #aaa;" value="Update Application">
            {% endif %}
             </div>
             
        
    </form>
</div>
{% endblock %}