{% extends 'DashboardBundle:Developer:base.html.twig' %}
{% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <style type="text/css">
        .textarea-style{
            width: 80% !important;
        }
        h1 {
            margin: 30px 0;
            padding: 0 200px 15px 0;
            border-bottom: 1px solid #E5E5E5;
        }

        .bs-example {
            margin: 20px;
        }

        .form-style-2-heading {
               font-weight: bold;
color: #0083BA !important;
               border-bottom: 1px solid #ddd;
               margin-bottom: 40px;
               margin-top: 20px;
               font-size: 15px;
               padding-bottom: 3px;
               text-align: center;
           }
        .cont {
            width: 80%;
            margin: auto;
            border: 1px solid;
            border-color: gainsboro;
            border-radius: 5px;
            margin-top: 90px;
        }

        .appIden, .appName {
            width: 60% !important;
        }

        .form-horizontal .control-label {
            text-align: center !important;
            font-family: Serif !important;
            font-size: 14px;
        }


        .label-payment {
font-family: Serif;
            margin-left: 10px;
            margin-top: 0px;
            font-size: 14px;
            font-style: italic;
        }
        .label-app-type{
            font-family: Serif;
            margin-left: 10px;
            margin-top: 0px;
            font-size: 14px;
            font-style: italic;
        }
        .col-xs-3,.col-xs-9,.col-xs-1{
            padding: 0px !important;
        }
        .style-radio{
            width: 20px;
            height: 20px;

        }
        .payment-label, .appType-label{
            margin-left: 10px;
        }
        .form-group {
            margin-left: 20px !important;
        }
        .nameIdentfLabel{
            width: 100%;
        }
        @media only screen and (max-width: 746px) {
           .nameIdentfLabel{
               font-size: 12px !important;
           }
            .cont{
                width: 100%;
            }
            .bs-example{
                margin: 5px;
            }
        }
        .padd{
            padding: 0px;
        }
    </style>

{% endblock %}

{% block breadcrumb %}
    {% if update == false %}
        Developer Dashboard &rsaquo; New Application
    {% else %}
        Developer Dashboard &rsaquo; Update Application
    {% endif %}
    {#  <a href="{{ path('category', {'slug': application.category.slug}) }}">{{ application.category.name }}</a> &rsaquo; {{ application.name }} #}
{% endblock %}

{% block body %}
    <div class="bs-example">
        <!-- <h1>New Application</h1> -->
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            <div class="row cont">
                <div class="form-style-2-heading">Name & Identification Information</div>
                <div class="form-group">
                    <div class="col-xs-3">
                    <label class="control-label col-xs-3 nameIdentfLabel" for="firstName">Application Identifier:</label>
                    </div>
                    <div class="col-xs-9">
                        <input type="text" class="form-control appIden" id="app-identifier"
                               name="app-identifier" {% if update == true %}  value="{{ application.ID }}" readonly{% endif %}
                               placeholder="e.g. com.iris.babysleep" required>
                    </div>
                </div>
                {% if update == false %}
                    <div class="form-group ">
                        <div class="row">
                        <div class="col-xs-3">
                        <label class="control-label col-xs-3 nameIdentfLabel" for="lastName">Application Version:</label>
                        </div>
                        <div class="col-xs-3" >
                            <input type="text" class="form-control" name="app-version" id="app-version"
                                   placeholder="e.g. 1.5" required>
                        </div>
                        <div class="col-xs-7 padd">
                        <label class="control-label " for="inputEmail" style="font-size: 10px;"> &nbsp;(Must match application identifier & manifest
                            version of the two binary apps below)</label>
                        </div>

                    </div>
                    </div>
                {% endif %}
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="control-label col-xs-3 nameIdentfLabel" for="inputEmail">Application Name:</label></div>
                    <div class="col-xs-9">
                        <input type="text" class="form-control appName" name="app-name "
                               id="app-name" {% if update == true %}  value="{{ application.Name }}" {% endif %}
                               placeholder="e.g. Game" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-3">
                        <label class="control-label col-xs-3 nameIdentfLabel">Application Category:</label></div>
                    <div class="col-xs-3">
                        <select class="form-control" name="app-category">

                            {% for cat in categories %}
                                {% if appCategory is defined and cat.Name == appCategory %}
                                    <option value='{{ cat.Name }}' selected="true">{{ cat.Name }}</option>
                                {% else %}
                                    <option value='{{ cat.Name }}'>{{ cat.Name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row cont">
                <div class="form-style-2-heading">Payment Model</div>
                <div class="form-group">
                    <label class="control-label col-xs-2">Payment Model:</label>
                    <div class="col-xs-1 payment-label" style="padding: 0px;">
                        {% if update == true and application.Price == 0 %}
                            <label class="radio-inline">
                                <input type="radio" name="app-payment-model" value="free" checked="checked" class="style-radio"> <label class="label-payment">Free</label>
                            </label>

                        {% else %}
                            <label class="radio-inline">
                                <input type="radio" name="app-payment-model" value="free" checked="checked"  class="style-radio"> <label class="label-payment">Free</label>
                            </label>
                        {% endif %}
                    </div>
                    <div class="col-xs-1 payment-label">

                        {% if update == true and application.Price != 0 %}
                            <label class="radio-inline ">
                                <input type="radio" name="app-payment-model" value="paid" checked="checked"  class="style-radio">  <label class="label-payment">Paid</label>
                            </label>
                        {% else %}
                            <label class="radio-inline">
                                <input type="radio" name="app-payment-model" value="paid" s class="style-radio"> <label class="label-payment">Paid</label>
                            </label>
                        {% endif %}
                    </div>
                    <div class="col-xs-2">
                        <div class="input-group">
                            <input type="text" class="form-control" name='app-price'
                                   id="app-price" {% if update == true %}  value="{{ application.Price }}" {% endif %}
                                   placeholder="0">
                            <span class="input-group-addon">$</span>
                        </div>
                    </div>
                </div>


            </div>
            <div class="row cont">
            <div class="form-style-2-heading">Application Type</div>
            <div class="form-group">
                <label class="control-label col-xs-2"> Type :</label>
                <div class="col-xs-1 appType-label">
                    {% if update == true and application.type == "tablet" %}
                        <label class="radio-inline">

                            <input type="radio" name="app-type" value="tablet" checked="checked"  class="style-radio">
                            <label class="label-app-type">Tablet</label>

                        </label>

                    {% else %}
                        <label class="radio-inline">
                            <input type="radio" name="app-type" value="tablet" checked="checked"  class="style-radio">         <label class="label-app-type">Tablet</label>
                        </label>
                    {% endif %}
                </div>
                <div class="col-xs-1 appType-label">

                    {% if update == true and application.type == "dongle" %}
                        <label class="radio-inline">
                            <input type="radio" name="app-type" value="dongle" checked="checked"  class="style-radio">
                            <label class="label-app-type">Dongle</label>

                        </label>
                    {% else %}
                        <label class="radio-inline">
                            <input type="radio" name="app-type" value="dongle"  class="style-radio"> <label class="label-app-type">Dongle</label>
                        </label>
                    {% endif %}
                </div>

            </div>
        </div>
            <!--
        <div class="form-style-2-heading">Subscription Bundles</div>
            <div class="row">
             <div class="col-xs-6">
            <div class="form-group">
              <label class="control-label col-xs-offset-1" for="selectmultiple">Application Bundles (you can select multiple bundles)</label>

                    <select id="selectmultiple" name="app-bundle" class="form-control col-xs-offset-1" multiple="multiple">
                      <option value="1">Basic</option>
                      <option value="2">Kindergarden</option>
                    </select>
              </div>
            </div>
            </div>
            -->

            {% if update == false %}
            <div class="row cont">
                <div class="form-style-2-heading ">Application Binary</div>


                <div class="form-group">
                    <label class="control-label col-xs-2" for="firstName">Binary:</label>
                    <div class="col-xs-9">
                        <input type="file" id="app-binary" name="app-binary" required>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="row cont">

            <div class="form-style-2-heading ">Application Description</div>


            <div class="form-group">
                <label class="control-label col-xs-3" for="postalAddress">Application Summary:</label>
                <div class="col-xs-9">
                <textarea rows="3" class="form-control textarea-style" name="app-summary" id="app-summary" required>
                {% if update == true %}  {{ summary }} {% endif %}
                </textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-3" for="postalAddress">Application Description:</label>
                <div class="col-xs-9">
                <textarea  rows="6" class="form-control textarea-style" name="app-description" id="app-description" required>
                {% if update == true %}  {{ description }} {% endif %}
                </textarea>
                </div>
            </div>

            <div class="form-group" style="float: right">
                {% if update == false %}
                    <input type="submit" class="btn btn-primary" style="margin:20px;border:1px solid #aaa;"
                           value="Add New Application">
                {% else %}
                    <input type="submit" class="btn btn-primary" style="margin:20px;border:1px solid #aaa;"
                           value="Update Application">
                {% endif %}
            </div>
        </div>

        </form>
    </div>
{% endblock %}