<!-- Include js plugin -->




<div class="cont col-lg-2 col-md-3 col-sm-4 col-xs-6 col-1 " style="margin-top: 10px;">


    <div class="card" style="position: relative; !important;">

        <div class="image">
            <a class="card-click-target"></a>
            <a href='{{ path('application', {'slug': application.slug}) }}' style="display:block; !important;">
                <img class="app-image" style=" "
                     src="{{ asset('images/sensorybox.png') }}">
            </a>
        </div>


        <div class="details">

            <a class="title"
               href=""
            >{{ application.name }} <span class="paragraph-end"></span></a>
            {#<div class="title marg"><a class="title descAPP"#}
                                       {#href=""#}
                {#>{{ application.summary }} <span class="paragraph-end"></span> </a></div>#}

            <a class="priceAnchor"
               href="#"

            >FREE </a>

                {#<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mdl-card__actions mdl-card--border">#}

                        {#<a href="{{ path('application', {'slug': application.slug}) }}" title="{{ application.name }}: {{ application.summary }}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">View app</a>#}

                {#</div>#}




        </div>
    </div>




</div>


















<!--
<img src="http://18.236.165.209/fdroid/repo/icons/{{ application.icon }}">
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
-->


{#<div class="card cardsmallsquare-cover" style="">#}
        {#<div class="card-content">#}
            {#<div class="cover">#}
                {#<div class="cover-image-container"#}
                     {#style="background-color: {{ application.primaryColor|default('#F5F5F5') }}">#}
                    {#<div class="cover-outer-align">#}
                        {#<div class="cover-inner-align">#}
                            {#<img class="app-image" style=" max-width: 73% !important;"#}
                                 {#src="http://18.236.165.209/fdroid/repo/icons/{{ application.icon }}">#}

                        {#</div>#}
                    {#</div>#}

                {#</div>#}
                {#<a class="card-click-target" href="/store/apps/details?id=com.meitu.beautyplusme"#}
                   {#aria-label="     BeautyPlus Me – Perfect Camera    ">#}
    {#<span class="movies preordered-overlay-container id-preordered-overlay-container" style="display:none;">#}
    {#<span class="preordered-label"> Pre-ordered </span> </span>#}
                    {#<span class="preview-overlay-container" data-docid="com.meitu.beautyplusme">  </span> </a>#}
            {#</div>#}
            {#<div class="appTitleDiv title">#}
                {#<span class="app-title"> {{ application.name }} </span>#}
            {#</div>#}
            {#<div class="appDescriptionDiv">#}
                {#<span class="app-des"><a href="#" class="freeAnchor">FREE</a></span>#}
            {#</div>#}


        {#</div>#}

    {#</div>#}
    {#<div class="browse-page">#}
        {#<div class="id-cluster-container cluster-container cards-transition-enabled">#}
            {#<div class="cluster id-track-impression tight square-cover apps">#}
                {#<div class="id-card-list card-list two-cards">#}
                    {#<div class="card no-rationale square-cover apps tiny" data-docid="com.tinyco.potter"#}
                         {#data-original-classes="card no-rationale square-cover apps small"#}
                         {#data-short-classes="card no-rationale square-cover apps tiny"#}
                         {#data-thin-classes="card no-rationale square-cover apps small">#}
                        {#<div class="card-content id-track-click id-track-impression" data-docid="com.tinyco.potter"#}
                             {#data-server-cookie="CAIaMgoZEhcKEWNvbS50aW55Y28ucG90dGVyEAEYAzITCOD4zuLD+NoCFQ3FpwodWqsGNEIA"#}
                             {#data-uitype="500"><a class="card-click-target"#}
                                                  {#data-server-cookie="CAIaMgoZEhcKEWNvbS50aW55Y28ucG90dGVyEAEYAzITCOD4zuLD+NoCFQ3FpwodWqsGNEIA"#}
                                                  {#data-uitype="500" href="/store/apps/details?id=com.tinyco.potter"#}
                                                  {#aria-hidden="true"#}
                                                  {#tabindex="-1"></a>#}
                            {#<div class="cover">#}
                                {#<div class="cover-image-container">#}
                                    {#<div class="cover-outer-align">#}
                                        {#<div class="cover-inner-align"><img alt="Harry Potter: Hogwarts Mystery"#}
                                                                            {#class="cover-image"#}
                                                                            {#data-cover-large="//lh3.googleusercontent.com/AJpf6pUr6oQijox0JMrD-20qiBeKD_e_CL0J-oJ1Naxn6c5iE62RO59zhEl9cSW4LY8=w340-rw"#}
                                                                            {#data-cover-small="//lh3.googleusercontent.com/AJpf6pUr6oQijox0JMrD-20qiBeKD_e_CL0J-oJ1Naxn6c5iE62RO59zhEl9cSW4LY8=w170-rw"#}
                                                                            {#src="//lh3.googleusercontent.com/AJpf6pUr6oQijox0JMrD-20qiBeKD_e_CL0J-oJ1Naxn6c5iE62RO59zhEl9cSW4LY8=w170-rw"#}
                                                                            {#aria-hidden="true"></div>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<a class="card-click-target" href="/store/apps/details?id=com.tinyco.potter"#}
                                   {#aria-label="     Harry Potter: Hogwarts Mystery    ">#}
    {#<span class="movies preordered-overlay-container id-preordered-overlay-container" style="display:none">#}
    {#<span class="preordered-label"> Pre-ordered </span> </span>#}
                                    {#<span class="preview-overlay-container" data-docid="com.tinyco.potter">  </span>#}
                                {#</a></div>#}


                            {#<div class="reason-set">  <span class="stars-container"> <a#}
                                            {#href="/store/apps/details?id=com.tinyco.potter"> <div#}
                                                {#class="reason-set-star-rating">  <div#}
                                                    {#class="tiny-star star-rating-non-editable-container"#}
                                                    {#aria-label=" Rated 4.4 stars out of five stars "> <div#}
                                                        {#class="current-rating" jsname="jIIjq"#}
                                                        {#style="width: 88.28235626220703%;"></div> </div>  </div> </a> <span#}
                                            {#class="price-container"> <span class="paragraph-end"></span>#}

    {#</span>  </span>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}




