{# empty Twig template #}
{%extends  "DashboardBundle:Developer:new-update-app.html.twig"%}
{%block head%}
    {{ parent() }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function()
        {
            $('.EditProfile').click(function()
            {
                $('.labels').attr('hidden','true');
                $('.txt').removeAttr('hidden');
                $('.editform').removeAttr('hidden');
                $('.EditProfile').attr('hidden','true');

            });
            $('.cancel').click(function()
            {
                $('.labels').removeAttr('hidden');
                $('.txt').attr('hidden','true');
                $('.editform').attr('hidden','true');
                $('.EditProfile').removeAttr('hidden');

            });
        });

    </script>
    <style>

        #ID, #email, #password, #Name, #Address {

        }

        .form-control {
            width: 60%;
        }

        .cont {
            width: 60%;
            margin: auto;
            margin-top: 50px;
            border: 1px solid gainsboro;
            border-radius: 5px;
            margin-bottom: 20px;
        }

        b {
            font-family: Serif;
            font-size: 17px;
            font-style: italic;
        }

        .form-style-2-heading {
            font-weight: bold;

            border-bottom: 1px solid #ddd;
            margin-bottom: 40px;
            margin-top: 20px;
            font-size: 15px !important;
            padding-bottom: 3px;
            text-align: center;
            color: #0083ba;

        }

        @media screen and (max-width: 712px) {
            .form-control {
                width: 60%;
                float: right;
            }
            .labels {

                float: right;
            }
            .cont {
                width: 80%;
            }
        }

        @media screen and (max-width: 432px) {
            b {
                font-size: 12px;
            }

        }

        @media screen and (max-width:321px) {
            b {
                font-size: 9px;
            }

        }
    </style>

{%endblock%}
{% block breadcrumb %}
    {% if add == false %}
        Sales &rsaquo; Manage Clients  &rsaquo; Profile
    {% else %}
        Sales  &rsaquo; New Client
    {% endif %}
    {#  <a href="{{ path('category', {'slug': application.category.slug}) }}">{{ application.category.name }}</a> &rsaquo; {{ application.name }} #}
{% endblock %}

{%block body%}

    <form class="form-horizontal" method="post" >
    <div class="row cont" id="edit">
        <div class="form-style-2-heading" style="margin-left: 4%;">{%if add== false%}Clinet Profile{% else %} New Client {%endif%}</div>
        <div class="col-xs-12" style="margin-bottom: 4%;">
            <p class="col-xs-4"> <b>ID:</b> </p> {%if add== false%}   <p class="col-xs-7 labels">{{client.ID}}</p> {%endif%}<input required="" type="text" name="ID"  class="form-control col-xs-10 txt"{%if add== false%} value="{{client.ID}}" hidden=""{%endif%}>
        </div>

        <div class="col-xs-12" style="margin-bottom: 4%;">
            <p class="col-xs-4 "> <b>Name:</b> </p> {%if add== false%}   <p class="col-xs-7 labels">{{client.Name}}</p> {%endif%}<input required="" type="text" name="Name"  class="form-control col-xs-10 txt"{%if add== false%} value="{{client.Name}}" hidden=""{%endif%}>
        </div>

        <div class="col-xs-12" style="margin-bottom: 4%;">
            <p class="col-xs-4 "> <b>Email: </b></p>  {%if add== false%}<p class="col-xs-7 labels">{{client.Email}}</p> {%endif%}<input   type="email" name="Email" class="form-control col-xs-10 txt"{%if add== false%} value="{{client.Email}}"hidden=""{%endif%}>
        </div>

        <div class="col-xs-12" style="margin-bottom: 4%;">
            <p class="col-xs-4 "> <b>Password: </b></p>  {%if add== false%}<p class="col-xs-7 labels"> {{client.Password}}</p>{%endif%}<input required=""  type="text" name="Password"  class="form-control col-xs-10 txt"{%if add== false%} value="{{client.Password}}"hidden=""{%endif%}>
        </div>

        <div class="col-xs-12" style="margin-bottom: 4%;">
            <p class="col-xs-4 "> <b>Address: </b></p>  {%if add== false%}<p class="col-xs-7 labels">{{client.Address}}</p> {%endif%}<input required=""  type="text" name="Address" class="form-control col-xs-10 txt"{%if add== false%} value="{{client.Address}}"hidden=""{%endif%}>
        </div>




        {%if add== true%}
            <div class="col-xs-12" style="margin-bottom: 10%">
                <input name="Add" style="border:1px solid #aaa; margin-left: 5%;float: right" type="submit" value="Add New Client" class="editform btn btn-primary ">
            </div>


        {%endif%}

    </div>
    {%if add== false%}
        <div class="row cont">
        <div class="form-style-2-heading" style="margin-left: 4%;">Client Applications and Bundles</div>
        <div class="col-xs-12" style="margin-left: 5%">
          {#  <p class="col-xs-5"> <b>Subscriptions:</b> </p>  <a class="col-xs-3" href="{{ path('dashboard_sales_clients_bundles', {'slug': client.ID}) }}"> {{counts.subcount}}</a> #}
          <p class="col-xs-5"> <b>Subscriptions:</b> </p> &nbsp; &nbsp; {{counts.subcount}}
        </div>
        <div class="col-xs-12" style="margin-bottom: 5%;margin-left: 5%">
            <p class="col-xs-5"> <b>Applications:</b> </p> <a class="col-xs-3" href="{{ path('dashboard_sales_clients_apps', {'slug': client.ID}) }}"> {{counts.appcount}}</a>
        </div>
        <div class="col-xs-12" style="margin-left: 5%;margin-top: -5%;">
            <p class="col-xs-5"> <b>Media:</b> </p> <a class="col-xs-3" href="{{ path('dashboard_sales_clients_media', {'slug': client.ID}) }}"> {{counts.mediacount}}</a>
        </div>
        <div class="col-xs-12" style="margin-bottom: 5%">
            <div class=" btn btn-primary EditProfile"> Edit Profile</div>
            <input style="border:1px solid #aaa; margin-left: 5%" hidden="" type="submit" value="Submit" class="editform btn btn-primary col-sm-3 col-xs-5 ">
            <div class="col-xs-1"></div>
            <div hidden="" class="col-sm-3 col-xs-5 col-5 btn btn-primary cancel editform" style="margin-left: 3px ;border:1px solid #aaa;"> cancel</div>
        </div>
        </div>
        </form>
    {%endif%}

{%endblock%}