{# empty Twig template #}
{%extends  "DashboardBundle:Developer:new-update-app.html.twig"%}
{% block head %}
    {{ parent() }}
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script>
    function getSelected()
    {
        var elements=$('.select');
        for(var i=0;i<elements.length;i++)
        {
            var element=$(elements.get(i));
            if(element.css("backgroundColor")!='rgb(255, 255, 255)')
            {
                return element;
            }
        }
        return -1;
    }
    function updateID()
    {
        var s="";
       var elements= $($('#bundle-app-list').find("tr"));
       for(var i=1;i<elements.length;i++)
       {
           s=s+$($(elements.get(i)).find("td").get(0)).html().trim();
           if(i!=elements.length-1)
               s=s+",";
           
       }
       
       $('#app-identifiers').val(s);
    }
        $(document).ready(function()
     {
         updateID();
    $('.select').click(function(){
        $('.select').css('background-color','white');
        $(this).css('background-color','rgb(33,150,243)');
       
    });
    $('.add-app').click(function()
    {
        var element=getSelected();
        if(element==-1)
            return;
        $('#bundle-app-list').append(element);
        updateID();
        
    });
    $('.remove-app').click(function()
    {
         var element=getSelected();
        if(element==-1)
            return;
        $('#app-list').append(element);
        updateID();
    });
    });
    </script>
    <style>
bode{
    direction: ltr;
}
        .cont {
            width: 80%;
            margin: auto;
            border: 1px solid;
            border-color: gainsboro;
            border-radius: 5px;
            margin-top: 90px;
        }
        .bundle-label{

            font-size: 12px;
            text-align: center;
        }
        .bundle-style{
            font-weight: bold;
color: #0083ba;
            border-bottom: 1px solid #ddd;
            margin-bottom: 40px;
            margin-top: 20px;
            font-size: 15px;
            padding-bottom: 3px;
            text-align: center;
            direction: ltr !important;
            text-align: center;
        }
        .fa-square-style{
            margin-left: 20%;
            margin-top: 20px;
            font-size: 20px !important;
            color: #616161;
        }
.fa-minus-style{
    margin-left: 40%;
    margin-top: 20px;
    font-size: 20px !important;
    color: #616161;
}
    </style>
{%endblock%}
{% block breadcrumb %}
{% if update == false %}
Sales  &rsaquo; New Bundle
{% else %}
Sales  &rsaquo; Manage Bundles &rsaquo; Edit Bundle
{% endif %}
   {#  <a href="{{ path('category', {'slug': application.category.slug}) }}">{{ application.category.name }}</a> &rsaquo; {{ application.name }} #}
{% endblock %}

{% block body %}
   <div class="bs-example">

    <!-- <h1>New Application</h1> -->
    <form class="form-horizontal" method="post" >
        <div class="row cont">
        <div class="form-style-2-heading bundle-style">Bundle Name & Description</div>
        <div class="form-group">
            <label class="control-label col-xs-2 bundle-label" for="firstName">Bundle Name:</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" id="Bundle-Name" name="bundle-name" {% if update == true%}  value ="{{bundle.Name}}" readonly{% endif %} placeholder="e.g: Kindergarden" required>
            </div>
        </div>  
            <div class="form-group">
            <label class="control-label col-xs-2  bundle-label" for="postalAddress">Bundle Description:</label>
            <div class="col-xs-9">
                <textarea rows="6" class="form-control" name="bundle-description" id="app-description" required>{% if update == true%}  {{bundle.Description}} {% endif %}</textarea>
            </div>
        </div>
        </div>
           <!--  <div class="row cont" >
            <div class="form-style-2-heading col-xs-12 bundle-style" >Application List</div>
                <div class="col-xs-12">
                    <div class="col-xs-6">
                        <label class="control-label col-xs-2" style="" for="postalAddress">Application List</label>

                        <div class="add-app btn btn-primary col-xs-1" style="margin-left: 15px; margin-bottom: 15px;" >
                            Add
                        </div>

                        <div class="col-xs-5" style="height: 300px;overflow: auto;padding: 0;border: 1px solid gainsboro ;float: left">

                            <table id="app-list"  class="col-xs-1 row-table table table-bordered table-responsive table-striped" style="" >
                                <tr>
                                    <th hidden="">  ID </th>
                                    <th>  Name </th>
                                    <th>  Price </th>
                                </tr>
                                {% for app in apps %}
                                    <tr style="background-color: white;" class="select">
                                        <td hidden=""> {{app.ID}} </td>
                                        <td> {{app.Name}} </td>
                                        <td> {{app.Price}}$ </td>
                                    </tr>

                                {%endfor%}
                            </table>
                            <p class="col-xs-4">
                            </p>

                        </div>
                    </div>
                    <div class="col-xs-6">
                        <label class="control-label " style=""  for="postalAddress">Bundle Application List</label>
                        <div class="remove-app btn btn-primary col-xs-1" style="margin-left: 15px;">
                            Remove
                        </div>
                        <div class="col-xs-5" style="height: 400px;overflow: auto; float: right; ">

                            <table id="bundle-app-list"  class="col-xs-1 row-table table table-bordered table-responsive table-striped" style="" >
                                <tr>
                                    <th hidden="">  ID </th>
                                    <th>  Name </th>
                                    <th>  Price </th>
                                </tr>
                                {% if update == true %}
                                    {% for app in appsOfBundle %}
                                        <tr style="background-color: white;" class="select">
                                            <td hidden=""> {{app.ID}} </td>
                                            <td> {{app.Name}} </td>
                                            <td> {{app.Price}}$ </td>
                                        </tr>

                                    {%endfor%}
                                {%endif%}
                            </table>

                        </div>
                    </div>
                </div>





                  <div class="col-xs-12"style="margin-left: 4%">

                  <p class="col-xs-4">
                  </p>

                  </div>
        <div class="form-group">
            <div class="col-xs-9">
                <input type="text" class="form-control" id="app-identifiers" name="app-identifiers" {% if update == true%}  value ="" readonly{% endif %}  hidden>
            </div>
        </div>
        
        
 

        <div class="form-group">
        	{% if update == false %}
                <input type="submit" class="btn btn-primary" style="margin:20px;border:4px solid #aaa;" value="Add New Bundle">
            {% else %}
            	<input type="submit" class="btn btn-primary" style="margin:20px;border:4px solid #aaa;" value="Update Bundle">
            {% endif %}
             </div>
    </div>
        -->
         <div class="row cont" >
            <div class="form-style-2-heading col-xs-12 bundle-style" >Application List</div>
                <div class="col-xs-12">

                        <label class="control-label col-xs-2" style="" for="postalAddress">Application List</label>

                        <div class="add-app btn btn-primary col-xs-1" style="margin-left: 15px; margin-bottom: 15px;" >
                            Add
                        </div>

                        <div class="col-xs-12" style="height: 300px;overflow: auto;padding: 0;border: 1px solid gainsboro ;float: left">

                            <table id="app-list"  class="col-xs-1 row-table table table-bordered table-responsive table-striped" style="height: auto" >
                                <tr>
                                    <th hidden="">
                                        ID </th>
                                    <th>Status</th>
                                    <th>  Name </th>
                                    <th>  Price </th>
                                </tr>
                                {% for app in apps %}
                                    <tr style="background-color: white;" class="select">
                                        <td hidden=""> {{app.ID}} </td>
                                        <td>     <div class="form-group">
                                                {% if update == false %}
                                                    <i class="fa fa-plus-square fa-square-style" aria-hidden="true"></i>
                                                    <i class="fa fa-minus-square fa-minus-style" aria-hidden="true"></i>
                                                {% else %}
                                                    <i class="fa fa-plus-square fa-square-style" aria-hidden="true"></i>
                                                    <i class="fa fa-minus-square fa-minus-style" aria-hidden="true"></i>{% endif %}
                                            </div> </td>
                                        <td> {{app.Name}} </td>
                                        <td> {{app.Price}}$ </td>

                                    </tr>

                                {%endfor%}
                            </table>
                            <p class="col-xs-4">
                            </p>

                        </div>


                </div>





                  <div class="col-xs-12"style="margin-left: 4%">

                  <p class="col-xs-4">
                  </p>

                  </div>
        <div class="form-group">
            <div class="col-xs-9">
                <input type="text" class="form-control" id="app-identifiers" name="app-identifiers" {% if update == true%}  value ="" readonly{% endif %}  hidden>
            </div>
        </div>





    </div>

    </form>
</div>
{% endblock %}