{% extends 'DashboardBundle:Sales:manage-application.html.twig' %}
{% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script>
        var edit = false;

        function getSelected() {
            var elements = $('.select');
            for (var i = 0; i < elements.length; i++) {
                var element = $(elements.get(i));
                if (element.css("backgroundColor") != 'rgb(255, 255, 255)') {
                    return element;
                }
            }
            return -1;
        }

        function updateID() {
            var s = "";
            var element = getSelected();
            if (element == -1)
                return -1;
            element = $(element).find("td");
            $('.StartDate').val($($(element).get(1)).html());
            $('.EndDate').val($($(element).get(2)).html());
        }

        $(document).ready(function () {
            $('#deletbundle').val("");
            $('.select').click(function () {
                $('.select').css('background-color', 'white');
                $(this).css('background-color', '#5f9ea0');
                $('#deletbundle').val($(this).find('td').find('b').html());
                $('#editbundle').val($(this).find('td').find('b').html());
                if (edit)
                    updateID();
            });
            $('.add-bundle').click(function () {
                $('.StartDate').val("");
                $('.EndDate').val("");
                $('.bundle-form').css('visibility', 'visible');
                $('.bundle-form').removeAttr('hidden');
                $('.Add').attr('name', 'add');
                $('.Add').val('Add Bundle');

                $('.options').css('visibility', 'visible');
                $('.options').removeAttr('hidden');
                edit = false;

            });
            $('.edit-bundle').click(function () {

                if (updateID() == -1)
                    return;
                $('.bundle-form').css('visibility', 'visible');
                $('.bundle-form').removeAttr('hidden');
                $('.Add').attr('name', 'edit');
                $('.Add').val('Edit Subscription');
                edit = true;
                $('.options').css('visibility', 'hidden');
                $('.options').attr('hidden', 'true');
            });
        });
    </script>
    <style type="text/css">
        h1 {
            margin: 30px 0;
            padding: 0 200px 15px 0;
            border-bottom: 1px solid #E5E5E5;
        }

        .bs-example {
            margin: 20px;
        }

        .form-style-2-heading {
            font-weight: bold;
            font-style: italic;
            border-bottom: 2px solid #ddd;
            margin-bottom: 40px;
            margin-top: 40px;
            font-size: 15px;
            padding-bottom: 3px;
        }

        .material-icons {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            vertical-align: middle;
        }

        @media only screen and (max-width: 767px) {
            .remove {
                margin-top: 5px;
            }
        }

        .selecter {
            margin-left: 10px;
            min-height: 32px;
            width: 50%;
            border: 1px solid gainsboro;
            border-radius: 5px;
            z-index: 1000;
        }

        .col-xs-3 {
        }

        @media only screen and (max-width: 412px) {
            b {
                font-size: 9px;
            }

        }

        @media only screen and (max-width: 460px) {

            .selecter {
                width: 100%;
            }
        }
        .div_contains_tabs{
            border: 1px solid #0083BA;
        }
        table{
            border: 1px solid black;
        }
        .btn:active{
            box-shadow: inset 0 0px 0px rgba(0,0,0,.125);;
        }
        th{
            font-size: 12px !important;
        }
.Container_Elements{
    width: 80%;
    margin: auto;
}
        .modal-backdrop {
            z-index: 100000 !important;
        }

        #MyModal {
            z-index: 100001 !important;
        }
    </style>

{% endblock %}
{% block breadcrumb %}

    Sales  &rsaquo; Track

{% endblock %}

{% block body %}

    <div class="bs-example">
    <div class="modal" id="MyModal" data-backdrop="false">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    {#<div class="col-xs-12 bundle-form" style="margin-top: 3%;visibility: hidden;    width: 95%;#}
                    {#margin: 20px auto auto;#}
                    {#border: 1px solid gainsboro;#}
                    {#border-radius: 5px; ">#}
                    {#<div class="form-style-2-heading "> Subscription info </div>#}
                    {#<div class="row" style="width: 100%">#}
                    {#<p class="options col-md-3 col-sm-6">#}
                    {#Bundles:#}
                    {#</p>#}
                    {#<select name="newbundle" class="options  col-md-3 col-sm-6 selecter">#}
                    {#<option value="">#}

                    {#</option>#}
                    {#{% for bundle in allbundles %}#}
                    {#<option value="{{bundle.ID}}">#}
                    {#{{bundle.Name}}#}
                    {#</option>#}
                    {#{%endfor%}#}
                    {#</select>#}
                    {#</div>#}
                    {#<div class="row" style="width: 100%;margin-top: 10px;">#}
                    {#<p class="col-md-3 col-sm-6">#}
                    {#Start Date:#}
                    {#</p>#}

                    {#<input class="col-md-3 col-sm-6 StartDate selecter" type="date" name="StartDate" placeholder="yyyy-mm-dd">#}

                    {#</div>#}
                    {#<div class="row" style="width: 100%;margin-top: 10px;">#}
                    {#<p class="col-md-3 col-sm-6 " >#}
                    {#End Date:#}
                    {#</p>#}

                    {#<input class="col-md-3 col-sm-6  EndDate selecter" type="date" name="EndDate" placeholder="yyyy-mm-dd">#}
                    {#</div>#}
                    {#<div class="col-xs-12" style="margin-top: 3%">#}

                    {#<input style="border:1px solid #aaa;margin-bottom: 5% " type="submit" class=" Add btn btn-primary" value="Add Bundle">#}
                    {#</div>#}
                    {#</div>#}
                    {#<div class="col-xs-5">#}
                    {#<input type="text" name="deletedbundle" vlaue="" id="deletbundle"hidden="" >#}
                    {#<input type="text" name="editbundle" vlaue="" id="editbundle"hidden="" >#}
                    {#</div>#}


                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <!-- <h1>New Application</h1> -->
    <form class="form-horizontal" method="post">
<script>
    function showtab(name) {
        var elements=document.getElementsByClassName("ll");
        for(var i=0;i<elements.length;i++)
        {
            elements[i].setAttribute("hidden",'true');
        }
        document.getElementById(name).removeAttribute('hidden');

    }
</script>




    <div class="row cont Container_Elements">
        <div class="form-style-2-heading bundle-style div_contains_tabs">
            <span class="btn" style="margin-left: 0.5cm;"
            onclick="showtab('fabric');" >Fabric</span>
            <span class="btn"
                  style="border-left: #3a3c3e solid 1px;
                  border-radius:0px;"
                  onclick="showtab('bundles')">Bundles</span>
            <span class="btn"
                  style="border-left: #3a3c3e solid 1px;
                  border-radius:0px;"
                  onclick="showtab('applications')">Applications</span>
            <span class="btn"
                  style="border-left: #3a3c3e solid 1px;
                  border-radius:0px;"
                  onclick="showtab('customers')">Customers</span>
        </div>
        <div id="fabric" class="ll" hidden>
            <a href="https://fabric.io/login?utm_campaign=fabric-marketing&utm_medium=natural" class="btn btn-primary">Go to Fabric</a>
        </div>
        <div id="bundles" class="ll" >

            <table class="table Bundles">

                <thead style="background-color: whitesmoke">
                <tr>
                    <th>Bundle Name</th>
                    <th>Users Subscribed</th>
                    <!-- <th>Operations</th> -->
                </tr>
                </thead>

                <tbody>
                {% for bundle in bundles %}
                    <tr class="" style="background-color: white">

                        <td>&nbsp;&nbsp;
                            <b>{{ bundle.Name }}</b>
                        </td>
                        <td>{{ bundle.Users }} </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="applications" class="ll" hidden>
            <table class="table applications">

                <thead style="background-color: whitesmoke">
                <tr>
                    <th>Application Name</th>
                    <th>Purchased Users</th>
                    <th>Users Needs Update</th>
                    <th>Users Installed</th>
                    <th>Users</th>
                    <!-- <th>Operations</th> -->
                </tr>
                </thead>

                <tbody>
                {% for application in applications %}
                    <tr class="" style="background-color: white">

                        <td>&nbsp;&nbsp;
                            <b>{{ application.Name }}</b>
                        </td>
                        <td>{{ application.PurchasedUsers }} </td>
                        <td>{{ application.UsersNeedUpdate }} </td>
                        <td>{{ application.UsersInstalled }} </td>
                        <td>{{ application.Users }} </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="customers" class="ll" hidden>
            <table class="table customers">

                <thead style="background-color: whitesmoke">
                <tr>
                    <th>Client Name</th>
                    <th>Subscribed Bundles</th>
                    <th>Purchased Applications</th>
                    <th>Applications Needs Update</th>
                    <th>Installed Applications</th>
                    <th>Not Installed Applications</th>
                    <!-- <th>Operations</th> -->
                </tr>
                </thead>

                <tbody>
                {% for client in clients %}
                    <tr class="" style="background-color: white">

                        <td>&nbsp;&nbsp;
                            <b>{{ client.Name }}</b>
                        </td>
                        <td>{{ client.Subscribtions }} </td>
                        <td>{{ client.PurchasedApplications }} </td>
                        <td>{{ client.ApplicationsNeedUpdate }} </td>
                        <td>{{ client.InstalledApplications }} </td>
                        <td>{{ client.NonInstalledApplications }} </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {#</script>#}


{% endblock %}