{% extends 'DashboardBundle:Sales:manage-application.html.twig' %}
{% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script>
        function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>

    <style>
        body {font-family: Arial;}

        /* Style the tab */
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
        }

        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
        }
        .mdl-layout__content{

        }
    </style>
{% endblock %}
{% block breadcrumb %}

    Sales  &rsaquo; Track

{% endblock %}

{% block body %}


                <!-- Modal body -->

                    {#<div class="col-xs-12 bundle-form" style="margin-top: 3%;visibility: hidden;    width: 95%;#}
                    {#margin: 20px auto auto;#}
                    {#border: 1px solid gainsboro;#}
                    {#border-radius: 5px; ">#}
                    {#<div class="form-style-2-heading "> Subscription info </div>#}
                    {#<div class="row" style="width: 100%">#}
                    {#<p class="options col-md-3 col-sm-6">#}
                    {#Bundles:#}
                    {#</p>#}
                    {#<select name="newbundle" class="options  col-md-3 col-sm-6 selecter">#}
                    {#<option value="">#}

                    {#</option>#}
                    {#{% for bundle in allbundles %}#}
                    {#<option value="{{bundle.ID}}">#}
                    {#{{bundle.Name}}#}
                    {#</option>#}
                    {#{%endfor%}#}
                    {#</select>#}
                    {#</div>#}
                    {#<div class="row" style="width: 100%;margin-top: 10px;">#}
                    {#<p class="col-md-3 col-sm-6">#}
                    {#Start Date:#}
                    {#</p>#}

                    {#<input class="col-md-3 col-sm-6 StartDate selecter" type="date" name="StartDate" placeholder="yyyy-mm-dd">#}

                    {#</div>#}
                    {#<div class="row" style="width: 100%;margin-top: 10px;">#}
                    {#<p class="col-md-3 col-sm-6 " >#}
                    {#End Date:#}
                    {#</p>#}

                    {#<input class="col-md-3 col-sm-6  EndDate selecter" type="date" name="EndDate" placeholder="yyyy-mm-dd">#}
                    {#</div>#}
                    {#<div class="col-xs-12" style="margin-top: 3%">#}

                    {#<input style="border:1px solid #aaa;margin-bottom: 5% " type="submit" class=" Add btn btn-primary" value="Add Bundle">#}
                    {#</div>#}
                    {#</div>#}
                    {#<div class="col-xs-5">#}
                    {#<input type="text" name="deletedbundle" vlaue="" id="deletbundle"hidden="" >#}
                    {#<input type="text" name="editbundle" vlaue="" id="editbundle"hidden="" >#}
                    {#</div>#}



    <!-- <h1>New Application</h1> -->

    <h2 style="margin-top: 70px"> Tracking </h2>
    <p></p>

    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'Fabric')">Fabric</button>
        <button class="tablinks" onclick="openCity(event, 'Bundles')">Bundles</button>
        <button class="tablinks" onclick="openCity(event, 'Application')">Application </button>
        <button class="tablinks" onclick="openCity(event, 'Clients')">Clients </button>

    </div>

    <div id="Fabric" class="tabcontent">
        <h3></h3>
        <p>                                    <a href="https://fabric.io/login?utm_campaign=fabric-marketing&utm_medium=natural" class="btn btn-primary">Go to Fabric</a>
        </p>
    </div>

    <div id="Bundles" class="tabcontent">
        <h3></h3>
        <p>    <div id="bundles" class="ll" >

            <table class="table Bundles">

                <thead style="background-color: whitesmoke">
                <tr>
                    <th>Bundle Name</th>
                    <th>Users Subscribed</th>
                    <!-- <th>Operations</th> -->
                </tr>
                </thead>

                <tbody>
                {% for bundle in bundles %}
                    <tr class="" style="background-color: white">

                        <td>&nbsp;&nbsp;
                            <b>{{ bundle.Name }}</b>
                        </td>
                        <td>{{ bundle.Users }} </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>   </p>
    </div>

    <div id="Application" class="tabcontent">
        <h3></h3>
        <p>
        <table class="table applications">

            <thead style="background-color: whitesmoke">
            <tr>
                <th>Application Name</th>
                <th>Purchased Users</th>
                <th>Users Needs Update</th>
                <th>Users Installed</th>
                <th>Users</th>
                <!-- <th>Operations</th> -->
            </tr>
            </thead>

            <tbody>
            {% for application in applications %}
                <tr class="" style="background-color: white">

                    <td>&nbsp;&nbsp;
                        <b>{{ application.Name }}</b>
                    </td>
                    <td>{{ application.PurchasedUsers }} </td>
                    <td>{{ application.UsersNeedUpdate }} </td>
                    <td>{{ application.UsersInstalled }} </td>
                    <td>{{ application.Users }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table></p>
    </div>
    <div id="Clients" class="tabcontent">
        <h3></h3>
        <p>

        <table class="table customers">

            <thead style="background-color: whitesmoke">
            <tr>
                <th>Client Name</th>
                <th>Subscribed Bundles</th>
                <th>Purchased Applications</th>
                <th>Applications Needs Update</th>
                <th>Installed Applications</th>
                <th>Not Installed Applications</th>
                <!-- <th>Operations</th> -->
            </tr>
            </thead>

            <tbody>
            {% for client in clients %}
                <tr class="" style="background-color: white">

                    <td>&nbsp;&nbsp;
                        <b>{{ client.Name }}</b>
                    </td>
                    <td>{{ client.Subscribtions }} </td>
                    <td>{{ client.PurchasedApplications }} </td>
                    <td>{{ client.ApplicationsNeedUpdate }} </td>
                    <td>{{ client.InstalledApplications }} </td>
                    <td>{{ client.NonInstalledApplications }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table></p>
    </div>
    <div class="row cont Container_Elements">
        {#<div class="form-style-2-heading bundle-style div_contains_tabs">#}
            {#<span class="btn" style="margin-left: 0.5cm;"#}
            {#onclick="showtab('fabric');" >Fabric</span>#}
            {#<span class="btn"#}
                  {#style="border-left: #3a3c3e solid 1px;#}
                  {#border-radius:0px;"#}
                  {#onclick="showtab('bundles')">Bundles</span>#}
            {#<span class="btn"#}
                  {#style="border-left: #3a3c3e solid 1px;#}
                  {#border-radius:0px;"#}
                  {#onclick="showtab('applications')">Applications</span>#}
            {#<span class="btn"#}
                  {#style="border-left: #3a3c3e solid 1px;#}
                  {#border-radius:0px;"#}
                  {#onclick="showtab('customers')">Customers</span>#}
        {#</div>#}

        {#<section id="tabs">#}
            {#<div class="container">#}
                {#<div class="row">#}
                    {#<div class="col-xs-12 ">#}
                        {#<nav>#}
                            {#<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">#}
                                {#<a class="nav-item nav-link track " id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Fabric </a>#}
                                {#<a class="nav-item nav-link track" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Bundles</a>#}
                                {#<a class="nav-item nav-link track" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Applications</a>#}
                                {#<a class="nav-item nav-link track" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">Customers</a>#}
                            {#</div>#}
                        {#</nav>#}
                        {#<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">#}
                            {#<div class="tab-pane fade show " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">#}
                                    {#<a href="https://fabric.io/login?utm_campaign=fabric-marketing&utm_medium=natural" class="btn btn-primary">Go to Fabric</a>#}
                                                         {#</div>#}
                            {#<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">#}

                            {#<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">#}

                                                      {#</div>#}
                            {#<div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">#}

                                                          {#</div>#}
                        {#</div>#}

                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</section>#}


    </div>

    {#</script>#}


{% endblock %}