<!DOCTYPE html>

<html lang="en">
<head>


    <!-- stylesheet -->
    <!--
     <link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.3.0/material.blue-indigo.min.css">
     <link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.2.1/material.indigo-blue.min.css"> 
     <link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.3.0/material.red-pink.min.css">
     <link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.2.1/material.blue-deep_orange.min.css">
     -->
    <link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.3.0/material.red-pink.min.css">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/extra-style.css') }}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.3.0/material.red-pink.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <script src="//storage.googleapis.com/code.getmdl.io/1.2.1/material.min.js"></script>

    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- javascript -->
    <script src="//storage.googleapis.com/code.getmdl.io/1.2.1/material.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <!-- seo -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>{% block title %}Iris Sensory Store: SensoryBox Apps{% endblock %}</title>

    <!-- viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block head %}{% endblock %}
    <style>
        .mdl-layout {
        }

        .footer-distributed {
            background-color: #292c2f;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
            box-sizing: border-box;
            width: 100%;
            text-align: left;
            font: bold 16px sans-serif;

            padding: 5px 50px;
            margin-top: 20px;
        }

        .footer-distributed .footer-left,
        .footer-distributed .footer-center,
        .footer-distributed .footer-right {
            display: inline-block;
            vertical-align: top;
        }

        /* Footer left */

        .footer-distributed .footer-left {
            width: 35%;
        }

        .footer-distributed .footer-right {
            width: 40%;
        }

        /* The company logo */

        .footer-distributed h3 {
            color: #ffffff;
            font: normal 36px 'Cookie', cursive;
            margin: 0;
        }

        .footer-distributed h3 span {
            color: #5383d3;
        }

        /* Footer links */

        .footer-distributed .footer-links {
            color: #ffffff;
            margin: 20px 0 12px;
            padding: 0;
        }

        .footer-distributed .footer-links a {
            display: inline-block;
            line-height: 1.8;
            text-decoration: none;
            color: inherit;
        }

        .footer-distributed .footer-company-name {
            color: #8f9296;
            font-size: 14px;
            font-weight: normal;
            margin: 0;
        }

        /* Footer Center */

        .footer-distributed .footer-center {
            width: 35%;
        }

        .footer-distributed .footer-center i {
            background-color: #33383b;
            color: #ffffff;
            font-size: 23px;
            width: 29px;
            height: 29px;
            border-radius: 50%;
            text-align: center;
            line-height: 38px;
            margin: 8px 12px;
            vertical-align: middle;
        }

        .footer-distributed .footer-center i.fa-envelope {
            font-size: 14px;
            line-height: 38px;
        }

        .footer-distributed .footer-center i.fa-map-marker {
            font-size: 14px;
            line-height: 38px;
        }

        .footer-distributed .footer-center i.fa-phone {
            font-size: 14px;
            line-height: 38px;
        }

        .footer-distributed .footer-center p {
            display: inline-block;
            color: #ffffff;
            vertical-align: middle;
            margin: 0;
        }

        .footer-distributed .footer-center p span {
            display: block;
            font-weight: normal;
            font-size: 14px;
            line-height: 2;
        }

        .footer-distributed .footer-center p a {
            color: #5383d3;
            text-decoration: none;;
        }

        .footer-center {
            font-family: Serif;
            font-size: 15px;
            margin-top: 20px;

        }

        /* Footer Right */

        .footer-distributed .footer-right {
            width: 20%;
        }

        .footer-distributed .footer-company-about {
            line-height: 20px;
            color: #92999f;
            font-size: 13px;
            font-weight: normal;
            margin: 0;
        }

        .footer-distributed .footer-company-about span {
            display: block;
            color: #ffffff;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .footer-distributed .footer-icons {
            margin-top: 25px;
        }

        .footer-distributed .footer-icons a {
            display: inline-block;
            width: 35px;
            height: 35px;
            cursor: pointer;
            background-color: #33383b;
            border-radius: 2px;

            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 35px;

            margin-right: 3px;
            margin-bottom: 5px;
        }

        @media (max-width: 444px) {

            .centerStore {
                display: none;
            }
        }

        @media (max-width: 880px) {

            .footer-distributed {
                font: bold 14px sans-serif;
            }

            .footer-distributed .footer-left,
            .footer-distributed .footer-center,
            .footer-distributed .footer-right {
                display: block;
                width: 100%;
                margin-bottom: 40px;
                text-align: center;
            }

            .footer-distributed .footer-center i {
                margin-left: 0;
            }

        }

        @media (max-width: 880px) {

        }

        .mdl-layout {
            min-height: 100%;
            position: relative;
        }

        footer {
            position: fixed;
            left: 220px;
            bottom: 0;
            width: 100%;
            background-color: red;
            color: white;
            text-align: center;
            height: 80px !important;
            margin-top: 100px;
        }

        .mdl-layout__content {
            z-index: 0 !important;
        }

        @media all and (max-width: 1025px) {

            footer {
                left: 0px !important;
            }
        }

        main {
            /* max-height: calc(100% - 147px);*/

        }

        /*@media screen and (max-width: 479px) {*/
        /*.fd-breadcrumb a {*/
        /*font-size: 12px !important;*/
        /*width: 100px;*/
        /*overflow: hidden;*/
        /*white-space: nowrap;*/
        /*text-overflow: ellipsis;*/
        /**/
        /*}*/

        @media (max-width: 922px) {
            main {
                /*   max-height: calc(100% - 137px) !important;*/
            }
        }

        @media screen and (max-width: 1024px) {
            .mdl-layout__header-row .mdl-navigation__link {
                line-height: 56px;
                padding: 0 16px;
            }
        }

        .mdl-layout__header-row .mdl-navigation__link {
            display: block;
            color: rgb(255, 255, 255);
            line-height: 64px;
            padding: 0 24px;
        }

        .mdl-navigation__link {
            color: #424242;
            text-decoration: none;
            margin: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0;
            opacity: .87;
        }

        .dropdown {

        }

        @media all and (max-width: 525px) {

            .dropdown-content {

            }
        }

        .user-hide {

            right: 15px;
        }

        @media screen and (max-width: 411px) {
            .dropbtn {

            }
        }


        /* Safari */
    </style>
</head>

<body class="mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">


<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

    {#{% block search %}#}
        {#{{ render(controller("MelodycodeFossdroidBundle:Widget:search")) }}#}
    {#{% endblock %}#}

    <header class="mdl-layout__header" >
        <div class="mdl-layout__header-row row" style="height: 48px !important;">




                    <span class="fd-breadcrumb mdl-layout-title">
                        {% block breadcrumb %}{% endblock %}
                    </span>


            <div class="mdl-layout-spacer"></div>


            {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                <div class="dropdown">
                    <button class="dropbtn  dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="myFunction()">
                        <span class="username">{{ app.user.name }}</span>
                        <i class="fa fa-caret-down arrow-hide" aria-hidden="true" title="Toggle dropdown menu"
                           id="dropdownMenuLink"></i>


                        <i class="fa fa-user user-hide" style="display: none; top:23px;" aria-hidden="true"
                           id="dropdownMenuLink" title="Toggle dropdown menu"></i>
                    </button>


                    <div id="myDropdown" class="dropdown-content dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a href="{{ path('client_apps') }}"> <i class="fa fa-crosshairs icon" aria-hidden="true"></i> My
                            Applications </a>
                        <a href="{{ path('client_subs') }}"> <i class="fa fa-share icon" aria-hidden="true"></i> My
                            Subscriptions</a>
                        <a href="{{ path('client_account') }}"><i class="fa fa-user icon" aria-hidden="true"></i> My
                            Account </a>
                        <hr style="
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    /* margin: 1em 0; */
    padding: 0;
    margin: 0px;
">
                        <a href="{{ path('logout') }}"> <i class="fa fa-sign-out icon" aria-hidden="true"></i> Sign Out</a>
                    </div>
                </div>

            {% else %}
                <div><h1><a class="mdl-navigation__link" style="color:#616161;color:  white !important;" href="{{ path('login') }}">Sign-in</a>
                    </h1></div>
            {% endif %}
        </div>


    </header>

    {% block nav_categories %}
        {{ render(controller("MelodycodeFossdroidBundle:Widget:categories")) }}
    {% endblock %}
    <main class="mdl-layout__content">

        {% block body %}{% endblock %}
        <!--     <footer class="footer-distributed">

                    <div class="footer-left">

                        {#<h3> <a href="http://www.iris.ps/"><img src="{{ asset('images/logo-whitetext.png') }}"> </a>  </h3>#}
                        <div class="footer-icons">


                        </div>


                    </div>

                    <div class="footer-center">

                        Iris Sensory Store is a property of Iris Interactive Solutions.

                    </div>

                    <div class="footer-right">





                    </div>

                </footer> -->
    </main>


</div>


<!-- stylesheet -->


<script>


</script>

<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */


    function myFunction() {

        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {

            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>

</body>
</html>
