<!DOCTYPE html>
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
<html lang="en">
    <head>
	<!-- stylesheet -->
        <link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.2.1/material.red-pink.min.css">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
         <link rel="stylesheet" href="{{ asset('css/extra-style.css') }}">
         
        <!-- seo -->
        <title>{% block title %}Iris Sensory Store: SensoryBox Apps{% endblock %}</title>
      
        <!-- viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block head %}{% endblock %}
    </head>
    
    <body class="mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                    <span class="fd-breadcrumb mdl-layout-title">
                        {% block breadcrumb %}{% endblock %}
                    </span>

                    <div class="mdl-layout-spacer"></div>

                    {% block search %}
                        {{ render(controller("MelodycodeFossdroidBundle:Widget:search")) }}
                    {% endblock %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div> &nbsp;&nbsp;&nbsp;&nbsp;</div>
    				
    				<div class="dropdown">
  					<button onclick="myFunction()" class="dropbtn">{{ app.user.name }}&#8964;</button>
  					<div id="myDropdown" class="dropdown-content">
    					<a href="{{ path('client_apps') }}">My Applications</a>
    					<a href="{{ path('client_subs') }}">My Subscriptions</a>
    					<a href="{{ path('client_account') }}">My Account</a>
    					<hr>
    					<a href="{{ path('logout') }}">Sign Out</a>
  					</div>
					</div>
    				
    				{% else %}
    				<div><h1> <a class="mdl-navigation__link" href="{{ path('login') }}">Sign-in</a></h1></div>
					{% endif %}
                </div>
            </header>

            {% block nav_categories %}
                {{ render(controller("MelodycodeFossdroidBundle:Widget:categories")) }}
            {% endblock %}

            <main class="mdl-layout__content">      
                {% block body %}{% endblock %}
                <footer class="mdl-mini-footer">
                    <div class="mdl-mini-footer__left-section">
                        <div class="mdl-logo">
                            Iris Sensory Store is a property of Iris Interactive Solutions. The Store is based on <a href="https://melodycode.com/">Fossdroid Core</a>
                        </div>
                    </div>
                </footer>
            </main>
        </div>

        <!-- stylesheet -->
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
        <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">

        <!-- javascript -->
        <script src="//storage.googleapis.com/code.getmdl.io/1.2.1/material.min.js"></script>
    </body>
</html>
